* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}
.is-right {
    text-align: right;
}


/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

/*.pure-form input[type] {*/
    /*border: 2px solid #ddd;*/
    /*box-shadow: none;*/
    /*font-size: 100%;*/
    /*width: 100%;*/
    /*margin-bottom: 1em;*/
/*}*/

.pure-button-primary {
    font-size: 120%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.splash-container .pure-button-primary {
    background-color: #fff;
    color:#000;
}
/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #fff;
}
.pure-menu {position:relative;}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    /*background: #1f8dd6;*/
    z-index: 1;
    height:19em;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position:relative;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    /*height: 300px;*/
    margin: auto;
    /*position: absolute;*/
    /*top: 100px; left: 0; bottom: 0; right: 0;*/
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    /*position: absolute;*/
    /*top: 87%;*/
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 0 3em;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
.content-subhead i {
    margin-right: 7px;
}

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

.pure-form fieldset { padding:0; }

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
    }

    /* We increase the height of the splash-container */
    /*    .splash-container {
            height: 500px;
        }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        /*height: 50%;*/
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        /*font-size: 300%;*/
    }
}

@media only screen and (max-width: 480px) {
    .pure-form input:not([type]), .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=tel], .pure-form input[type=color], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=text], .pure-form label {
        margin: 0 auto 0.3em auto;
        display: block;
    }
}
.input-group { display: inline-block; position: relative; margin-bottom:.3em;padding-right:.3em;}
.input-group span {
    display: inline-block;
    left:0;
    position: absolute;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #1F8CFF;
    color: #FFFFFF;
    height: 100%;
    width: 3em;
    font-weight:bold;
    font-size:1em;
    padding-top:.3em;
    text-align: center;
}
.input-group input.pure-input-rounded{padding-left: 2.7em;}

@media only screen and (max-width: 767px) {
    .home-menu .pure-menu-heading {
        margin-bottom: 0.5em;
    }
    /*.pure-menu-list {*/
        /*text-align: center;*/
    /*}*/
    .input-group span {
        max-height: 30px;
    }
}
@media screen and (max-width: 35.5em) {
    .pure-form button[type=submit] {
        display: block;
        margin: 0 auto 0.3em auto;
    }
    .pure-button-primary {
        font-size: 120%;
    }
}
.pure-input {padding-left: 3.8em!important; width: 100%!important;}

.header {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.login-block {
    padding: 2em 1em;
    /*position: absolute;*/
    background: #1f8dd6;
    height:100%;
    -webkit-border-top-left-radius: 1em;
    -webkit-border-bottom-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -moz-border-radius-bottomleft: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
.login-block h2{
    text-align: center;
    color:#fff;
}
.login-block .input-group {margin-bottom:1em;}
/*@media screen and (min-width: 64em) {*/
    /*.login-block {padding: 2em 5em;}*/
/*}*/


.custom-wrapper {
    margin-top: .5em;
    /*margin-bottom: 1em;*/
    -webkit-font-smoothing: antialiased;
    /*height: 48px;*/
    /*overflow: hidden;*/
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
    margin-top: 0.5em;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 1em;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

    .pure-u-sm-hide {
        display:none!important;
    }

    .login-block {
        -webkit-border-top-right-radius: 1em;
        -webkit-border-bottom-right-radius: 1em;
        -moz-border-radius-topright: 1em;
        -moz-border-radius-bottomright: 1em;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
    .splash-container, .content, .header {width:90%;}
    /*.l-box {padding:0;}*/
}

@media (min-width: 48em) {
    .promo-block {
        background-image: url(/images/cover_web2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        -webkit-border-top-right-radius: 1em;
        -webkit-border-bottom-right-radius: 1em;
        -moz-border-radius-topright: 1em;
        -moz-border-radius-bottomright: 1em;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
}

.language-selector{text-align: center;margin-top:1em;}
.logo-wrapper{padding: .5em 1em;}

@media screen and (min-width: 48em) {
    .pure-menu .language-selector {display:none;}
}
.step {display:block;width:2em;height:2em;background-color:#2d3e50;color:#fff;text-align: center;
    line-height:2em;
    font-weight:bold;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
}
.ribbon .step{background-color:#fff;color:#2d3e50;}
.step-item{padding:.5em; position: relative;}
.step-item p{text-align: center;}
.step-item img{width:100%;}
.footer a {color: #fff;cursor:pointer;}
.ztb-about a {display: none!important;}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.logo{height:40px;}
.googleplay{width:130px;height:40px;display:inline-block;}
.appstore{width:130px;height:40px;display:inline-block;}
.download-app{margin-bottom:0;}
.download-app a:first-child{margin-right:1em;}
h2.with_hint{margin-bottom:0;}
span.hint{font-size: 75%;color:#fff;display:block;text-align: center;}

@media (max-width: 47.999em) {
    span.hint{font-size:100%;}
}