* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}
.pure-form td label {
    margin: 0;
}
.pure-form input[type], .pure-form textarea, .pure-form select {
    /*border: 2px solid #cbcbcb;*/
    box-shadow: none;
    font-size: 100%;
    width: 100%;
}
.pure-form select {padding-top:0.1em;padding-bottom: 0.1em;}

input[type=checkbox], input[type=radio] {
    margin-right:2px;
    margin-bottom:0!important;
    width: auto!important;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    /*position: absolute;*/
    /*top: 87%;*/
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
    margin-bottom: 3.5em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
.content-subhead i {
    margin-right: 7px;
}

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    margin-top:1em;
    /*background: #111;*/
}

.content {
    padding: 1em;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
    }

    /* We increase the height of the splash-container */
    /*    .splash-container {
            height: 500px;
        }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

h2 {margin:0; margin-bottom:0.5em;}

.add-row {
    float: right;
}
table + tbody:empty{display: none;}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
    padding: 15px;
}
.panel-actions{
    padding: 15px;
    text-align: center;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-heading>h2 {
    margin-bottom:0;
    color: #fff;
    font-weight:normal;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: inherit;
}
.panel-default {
    border-color: #cbcbcb;
}
.panel-default > .panel-heading {
    background-color: #04aeda;
    color: #fff;
    border-color: #cbcbcb;
}
.form-group {padding-left:10px;padding-right:10px;}
.pure-form .panel label {margin:0;}
.pure-form .panel input {margin-top:0;}
.pure-g {letter-spacing: normal!important;}
.highlights h3{color: #c0392b; margin: 0; padding: 0; font-size: 18px; line-height: 22px;}
.additional-info h2 {color: #c0392b; margin-top: 1em; margin-bottom:0;}
.additional-info p{margin-top:0; font-size:1.3em;color:#000; font-weight:bold;}

.highlights ul,
ul.personal-info{
    margin: 0;
    padding: 0;
}
.highlights li {
    list-style-type: none;
    color: #fff;
    background-color: #c0392b;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 10px 3px 0;
    padding: 2px 8px;
    font-size: 14px;
    line-height: 18px;
    font-family: "LatoBold","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.personal-info li {
    list-style-type: none;
    margin: 0 10px 3px 0;
    padding: 2px 8px;
    font-size: 14px;
    line-height: 18px;
    font-family: "LatoBold","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{width:100%;}
@media screen and (min-width: 35.5em) {
    .container {padding: 0 10%;}
}
@media screen and (max-width: 35.5em) {
    .container {padding: 0 10px;}
}
.section{ margin-bottom:20px; }
.contact-now {
    position: relative;
    width: 90px;
    height: 90px;
    display: inline-block;
    float: left;
    color: #f90000;
    text-decoration: none;
    margin-right: 1em;
    text-align: center;
}
.clearfix{
    clear:both;
}
.pure-table{width:100%;}
.contact h3{margin: 0;margin-bottom: .5em;}
.contact{padding:1em;border-radius: 5px;  background-color: snow;margin-bottom:.5em;}

.pure-table td, .pure-table th {padding:0.5em;}
.pure-table thead { background-color: #04aeda;  color: #fff; }
.pure-table tbody {color: #000;}

.copyright { position: absolute; right: 1em; top: 1em;}

.personal-info-wrapper h1{ margin-top:0;}

.edit-link, .save-button {
    /*display: block;*/
    margin: 0 auto!important;
}
@media print {
    body *{color:#000!important;}
    .highlights>.pure-g>div {width:25%;}
    .personal-info-wrapper{width:50%;}
    .contact-wrapper{width:50%;}
    .edit-link{display:none;}
    .language-selector{display:none;}
    .section{margin-bottom:10px;}
    .photo-wrapper{width:50%;}
    .personal-info-wrapper{width:50%;}
    .contact-now{display: none;}
    .contact {padding-top:0;padding-left:0;border-bottom: 1px solid #000000;border-radius:0;}
    .contact:last-child{border-bottom: 0;}
    table th {color:#000; text-align: center; font-weight: bold;}
    table th,td,tr {border:1px solid #000!important;}
    .highlights *{color:#000!important;}
    .highlights li {padding-left:0;}
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    /*font-size: 120%;*/
}

.pure-remove-button {
    background-color: #d9534f;
    padding: 0.5em 1em;
}

/*
Generic Styling, for Desktops/Laptops
*/
table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tbody>tr:nth-of-type(odd) {
    background: #eee;
}
td, th {
    border: 1px solid #ccc;
}

.form-action{white-space: nowrap;}
@media
only screen and (min-width: 64em) {
.form-action{width:6em;}
.form-action.wide{width:19em;}
}
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 64em),
(min-device-width: 64em) and (max-device-width: 80em)  {

    .pure-table td, .pure-table th {
        padding-left: 40%;
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 2px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    form td:before {
        top: 6px;
    }

    .copyright { position: initial;}
}

.footer {
    background: #fff;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
}
.l-box {
    padding: .5em;
}
.is-center {
    text-align: center;
}
.is-right {
    text-align: right;
}
.pure-table td:first-child, .pure-table th:first-child {
    border-left-width: 1px!important;
}
.photo{max-width:100%;}
.alertify-logs {
    top: 10px;
    right: 10px;
}
.header {margin-bottom:1em;}
.logo{height:40px;}
.fb-login svg{height: 1em;margin-right:.3em;}
.fb-login span{float:right;}

.loginBtn {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('/images/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}
.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('/images/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}
h1.profile, div.profile h2 {margin-bottom:0;}

@media (max-width: 47.999em) {
    small { font-size: 100%; }
    .pure-button {margin-bottom: 0.5em;}
}
.margin-bottom {margin-bottom:0.5em;}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px!important;
    margin-right:10px!important;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.switch-container{
    display: flex;
    align-items: center;
}