{% extends 'base.html.twig' %}

{% block title %}{{ 'title.auth_edit_mode'|trans }}{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<div class="container pure-u">
    {% include 'default/header.html.twig' %}
    {% form_theme form with ['Form/purecss_div_layout.html.twig', _self] %}
    <script>
        {% if not form.vars.valid %}
        {# Loop through every form item #}
        {% for child in form.children %}
        {# Display the errors of the form item #}
        {% for error in child.vars.errors %}
        alertify.error("{{ error.message|trans }}");
        {% endfor %}
        {% endfor %}
        {% endif %}
    </script>
    {{ form_start(form, {attr:{class: 'pure-form pure-form-stacked'}}) }}
        <div class="pure-g">
            <div class="pure-u-1 pure-u-lg-1-5">&nbsp;</div>
            <div class="pure-u-1 pure-u-lg-3-5 panel panel-default">
                <div class="pure-u-1 panel-heading">
                    <h2>{{ 'title.auth_edit_mode'|trans }}</h2>
                </div>
                <div class="pure-u-1 panel-body">
                    {{ form_label(form.link_code) }}
                    {{ form_widget(form.link_code) }}
                    {{ form_label(form.link_pin) }}
                    {{ form_widget(form.link_pin) }}
                </div>
                <div class="pure-u-1 panel-actions">
                    <button type="submit"
                            class="pure-button">{{ 'button.submit'|trans }}</button>
                </div>
            </div>
            <div class="pure-u-1 pure-u-lg-1-5">&nbsp;</div>
        </div>

    {{ form_end(form) }}
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

