{% extends 'base.html.twig' %}

{% block title %}{{ 'title.view_log'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container pure-u">
        {% include 'default/header.html.twig' %}
        <div class="pure-u-1">
            <h2 class="pure-u-1-2">{{ 'title.view_log'|trans }}</h2>
        </div>
        <div class="pure-u-1">
            {% if logs|length > 0 %}
            <table class="pure-table">
                <thead>
                <tr>
                    <th>{{ 'label.log.scan_date'|trans }}</th>
                    <th>{{ 'label.log.client_ip'|trans }}</th>
                    {#<th>{{ 'label.log.user_agent'|trans }}</th>#}
                    <th>{{ 'label.log.location'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in logs %}
                    <tr>
                        <td>{{ item.dateCreated|date('d/m/Y H:i') }}</td>
                        <td>{{ item.clientIp }}</td>
                        {#<td>{{ item.userAgent }}</td>#}
                        <td>
                            {% if item.latitude is not null %}
                                <a href="http://maps.google.com/maps?q=loc:{{ item.latitude }},{{ item.longitude }}" class="pure-button" target="_blank">{{ 'label.log.open_map'|trans }}</a>
                            {% else %}
                                {{ 'label.log.no_location'|trans }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>{{ 'layout.logs_empty'|trans }}</p>
            {% endif %}
        </div>
        &nbsp;<a href="{{ path('profile') }}">{{ 'label.back'|trans }}</a>
    </div>
{% endblock %}

