{% extends 'base.html.twig' %}

{% block title %}{% if profile.id %}{{ 'title.edit_profile'|trans }}{% else %}{{ 'title.new_profile'|trans }}{% endif %}{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<div class="container pure-u">
    {% include 'default/header.html.twig' %}

    <h1 class="profile">
        {% if profile.id %}
            {{ 'title.edit_profile'|trans }}
        {% else %}
            {{ 'title.new_profile'|trans }}
        {% endif %}
    </h1>
    <small>{{ "title.new_profile_description"|trans }}</small>

    {% form_theme form.data with ['Form/purecss_div_layout.html.twig', _self] %}
    {% form_theme form.data with ['Form/custom_checkbox.html.twig', _self] %}

{{ form_start(form, {attr:{class: 'pure-form pure-form-stacked'}}) }}
<div class="pure-u profile">
    {% if confirmationForm is defined %}
    <div class="pure-u-1 panel panel-default">
        <div class="pure-u-1 panel-heading">
            <h2>{{ 'title.save_confirmation'|trans }}</h2>
            <span>{{ 'description.save_confirmation'|trans }}</span>
        </div>
        <div class="pure-u-1 panel-body">
            {{ form_row(confirmationForm.link_code) }}
            {{ form_row(confirmationForm.link_pin) }}
        </div>
    </div>
    {% endif %}
    {% if registrationForm is defined and registrationForm %}
    <div class="pure-u-1 panel panel-default">
        <div class="pure-u-1 panel-heading">
            <h2>{{ "title.security" | trans }}</h2>
            <span>{{ 'description.security'|trans }}</span>
        </div>
        <div class="pure-u-1 panel-body">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
            {{ form_label(registrationForm.plainPassword.first) }}
            {{ form_widget(registrationForm.plainPassword.first) }}
            {{ form_label(registrationForm.plainPassword.second) }}
            {{ form_widget(registrationForm.plainPassword.second) }}
        </div>
    </div>
    {% endif %}
    <div class="pure-u-1 panel panel-default">
        <div class="pure-u-1 panel-heading">
            <h2>{{ "title.lost_mode" | trans }}</h2>
            <small>{{ "title.lost_mode_description"|trans|raw }}</small>
        </div>
        <div class="pure-u-1 panel-body">
            <div class="switch-container">
                {{ "label.wristband"|trans }}
            <label class="switch">
                {{ form_widget(form.lostMode) }}
                <span class="slider round"></span>
            </label>
                {{ "label.pettag"|trans }}
            </div>
            <p id="push-subscribe-container">
                <button type="button" class="pure-button button-secondary" id="push-subscribe">Allow to receive messages</button>
                <br><small><sup>*</sup>Subscribe and receive message to this device if your pet will be found</small>
            </p>
            {{ form_widget(form.oneSignalUserId) }}
            {#<div class='onesignal-customlink-container' {% if not profile.lostMode %}style="display: none;"{% endif %}></div>#}
        </div>
    </div>
    <div class="pure-u-1 panel panel-default">
        <div class="pure-u-1 panel-heading">
            <h2>{{ "title.personal_information" | trans }}</h2>
            <small>{{ "title.personal_information_description"|trans }}</small>
        </div>
        <div class="pure-u-1 panel-body">
            <label for="{{ form.data.personalInformation.photo.vars.id }}" style="cursor: pointer;">
                <div>{{ form.data.personalInformation.photo.vars.label|trans }}</div>
                {% if profile.data and profile.data.personalInformation.photo %}
                    <img src="{{ photo_web_directory ~ profile.data.personalInformation.photo }}" id="preview" style="max-height:128px;max-width:128px;">
                {% else %}
                    <img src="{{ asset('images/camera.png') }}" srcset="{{ asset('images/camera@2x.png') }} 2x" id="preview" style="max-height:128px;max-width:128px;">
                {% endif %}
            </label>
            {{ form_widget(form.data.personalInformation.photo, {attr: {class: 'hidden'}}) }}
            {{ form_row(form.data.personalInformation.photoData) }}
            {{ form_row(form.data.personalInformation.name) }}
            {{ form_row(form.data.personalInformation.phone) }}
            {{ form_row(form.data.personalInformation.birthdate) }}
            {{ form_row(form.data.personalInformation.speaks) }}
            {{ form_row(form.data.personalInformation.gender) }}
            {{ form_row(form.data.personalInformation.passport) }}
            {{ form_row(form.data.personalInformation.blood) }}
            {{ form_row(form.data.additionalKeyInformation) }}
        </div>
    </div>
    <hr>
    <div class="pure-u-1 section">
        <div class="pure-u-1">
            <h2 class="pure-u-1-2">{{ "title.emergency_contacts" | trans }}</h2>
            <button type="button" class="pure-button add-row" onclick="addChildForm('{{ form.data.emergencyContacts.vars.id }}');return false;">{{ "label.add" | trans }}</button>
            <small class="pure-u-1">{{ "title.emergency_contacts_description"|trans }}</small>
        </div>
        <div class="pure-u-1">
            <table class="pure-table" id="{{ form.data.emergencyContacts.vars.id }}_table">
                <thead>
                <tr>
                    <th>{{ 'label.contact.name'|trans }}</th>
                    <th>{{ 'label.contact.relationship'|trans }}</th>
                    <th>{{ 'label.contact.phone'|trans }}</th>
                    <th>{{ 'label.contact.alt_phone'|trans }}</th>
                    <th>{{ 'label.contact.email'|trans }}</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{ form_widget(form.data.emergencyContacts) }}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="pure-u-1 section">
        <div class="pure-u-1">
            <h2 class="pure-u-1-2">{{ "title.medical_highlights" | trans }}</h2>
            <button type="button" class="pure-button add-row" onclick="addChildForm('{{ form.data.medicalHighlights.vars.id }}');return false;">{{ "label.add" | trans }}</button>
            <small class="pure-u-1">{{ "title.medical_highlights_description"|trans }}</small>
        </div>
        <div class="pure-u-1">
            <table class="pure-table" id="{{ form.data.medicalHighlights.vars.id }}_table">
                <thead>
                <tr>
                    <th>{{ 'label.highlight.category'|trans }}</th>
                    <th>{{ 'label.highlight.name'|trans }}</th>
                    <th>{{ 'label.highlight.notes'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{ form_widget(form.data.medicalHighlights) }}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="pure-u-1 section">
        <div class="pure-u-1">
            <h2 class="pure-u-1-2">{{ "title.medications" | trans }}</h2>
            <button type="button" class="pure-button add-row" onclick="addChildForm('{{ form.data.medications.vars.id }}');return false;">{{ "label.add" | trans }}</button>
            <small class="pure-u-1">{{ "title.medications_description"|trans }}</small>
        </div>
        <div class="pure-u-1">
            <table class="pure-table" id="{{ form.data.medications.vars.id }}_table">
                <thead>
                <tr>
                    <th>{{ 'label.medication.name'|trans }}</th>
                    <th>{{ 'label.medication.dosage'|trans }}</th>
                    <th>{{ 'label.medication.strength'|trans }}</th>
                    <th>{{ 'label.medication.frequency'|trans }}</th>
                    <th>{{ 'label.medication.route'|trans }}</th>
                    <th>{{ 'label.medication.notes'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{ form_widget(form.data.medications) }}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="pure-u-1 section">
        <div class="pure-u-1">
            <h2 class="pure-u-1-2">{{ 'title.physicians'|trans }}</h2>
            <button type="button" class="pure-button add-row" onclick="addChildForm('{{ form.data.physicians.vars.id }}');return false;">{{ "label.add" | trans }}</button>
            <small class="pure-u-1">{{ "title.physicians_description"|trans }}</small>
        </div>
        <div class="pure-u-1">
            <table class="pure-table" id="{{ form.data.physicians.vars.id }}_table">
                <thead>
                <tr>
                    <th>{{ 'label.physician.name'|trans }}</th>
                    <th>{{ 'label.physician.phone'|trans }}</th>
                    <th>{{ 'label.physician.speciality'|trans }}</th>
                    <th>{{ 'label.physician.notes'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{ form_widget(form.data.physicians) }}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="pure-u-1 section">
        <div class="pure-u-1">
            <h2 class="pure-u-1-2">{{ "title.addresses" | trans }}</h2>
            <button type="button" class="pure-button add-row" onclick="addChildForm('{{ form.data.address.vars.id }}', '{{ form.data.address.vars.id }}_container');return false;">{{ "label.add" | trans }}</button>
            <small class="pure-u-1">{{ "title.addresses_description"|trans }}</small>
        </div>
        <div class="pure-u-1">
            <table class="pure-table" id="{{ form.data.address.vars.id }}_table">
                <thead>
                <tr>
                    <th>{{ 'label.address.type'|trans }}</th>
                    <th>{{ 'label.address.address'|trans }}</th>
                    <th>{{ 'label.address.notes'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{ form_row(form.data.address) }}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="pure-u-1 section">
        <div class="pure-u-1">
            <h2 class="pure-u-1-2">{{ "title.insurances" | trans }}</h2>
            <button type="button" class="pure-button add-row" onclick="addChildForm('{{ form.data.insurances.vars.id }}');return false;">{{ "label.add" | trans }}</button>
            <small class="pure-u-1">{{ "title.insurances_description"|trans }}</small>
        </div>
        <div class="pure-u-1">
            <table class="pure-table" id="{{ form.data.insurances.vars.id }}_table">
                <thead>
                <tr>
                    <th>{{ 'label.insurance.name'|trans }}</th>
                    <th>{{ 'label.insurance.id_number'|trans }}</th>
                    <th>{{ 'label.insurance.group_number'|trans }}</th>
                    <th>{{ 'label.insurance.bin'|trans }}</th>
                    <th>{{ 'label.insurance.deductible'|trans }}</th>
                    <th>{{ 'label.insurance.phone'|trans }}</th>
                    <th>{{ 'label.insurance.notes'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{ form_widget(form.data.insurances) }}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="pure-u-1 section">
        <div class="pure-u-1">
            <h2 class="pure-u-1-2">{{ "title.others" | trans }}</h2>
            <button type="button" class="pure-button add-row" onclick="addChildForm('{{ form.data.others.vars.id }}');return false;">{{ "label.add" | trans }}</button>
            <small class="pure-u-1">{{ "title.others_description"|trans }}</small>
        </div>
        <div class="pure-u-1">
            <table class="pure-table" id="{{ form.data.others.vars.id }}_table">
                <thead>
                <tr>
                    <th>{{ 'label.other.label'|trans }}</th>
                    <th>{{ 'label.other.notes'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{ form_widget(form.data.others) }}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="pure-u-1 section">
        <div class="pure-u-1">
            <h2 class="pure-u-1-2">{{ "title.documents" | trans }}</h2>
            <button type="button" class="pure-button add-row" onclick="addChildForm('{{ form.data.documents.vars.id }}');return false;">{{ "label.add" | trans }}</button>
            <small class="pure-u-1">{{ "title.documents_description"|trans }}</small>
        </div>
        <div class="pure-u-1">
            <table class="pure-table" id="{{ form.data.documents.vars.id }}_table">
                <thead>
                <tr>
                    <th>{{ 'label.document.label'|trans }}</th>
                    <th>{{ 'label.document.photo'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{ form_widget(form.data.documents) }}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="pure-g footer">
        <div class="l-box pure-u-1 is-center">
            <button type="submit" class="pure-button save-button">{{ "button.save" | trans }}</button>
            {% if app.user %}&nbsp;<a href="{{ path('profile') }}">{{ 'label.back'|trans }}</a>{% endif %}
            <br><span class="copyright">All rights reserved. Copyright © {{ 'now'|date('Y') }} <a href="https://myid.in.th">MyID.in.th</a></span>
        </div>
    </div>
    {{ form_end(form) }}
</div>

<script>
    var exec_body_scripts = function(body_el) {
        // Finds and executes scripts in a newly added element's body.
        // Needed since innerHTML does not run scripts.
        //
        // Argument body_el is an element in the dom.
        function nodeName(elem, name) {
            return elem.nodeName && elem.nodeName.toUpperCase() ===
                name.toUpperCase();
        };

        function evalScript(elem) {
            var data = (elem.text || elem.textContent || elem.innerHTML || "" ),
                head = document.getElementsByTagName("head")[0] ||
                    document.documentElement,
                script = document.createElement("script");

            script.type = "text/javascript";
            try {
                // doesn't work on ie...
                script.appendChild(document.createTextNode(data));
            } catch(e) {
                // IE has funky script nodes
                script.text = data;
            }

            head.insertBefore(script, head.firstChild);
            head.removeChild(script);
        };

        // main section of function
        var scripts = [],
            script,
            children_nodes = body_el.childNodes,
            child,
            i;
        for (i = 0; children_nodes[i]; i++) {
            child = children_nodes[i];
            if (nodeName(child, "script" ) &&
                (!child.type || child.type.toLowerCase() === "text/javascript")) {
                scripts.push(child);
            }
        }

        for (i = 0; scripts[i]; i++) {
            script = scripts[i];
            if (script.parentNode) {script.parentNode.removeChild(script);}
            evalScript(scripts[i]);
        }
    };
    function addChildForm(collectionHolderId) {
        var $collectionHolder = document.getElementById(collectionHolderId);
        var $rowContainer = document.getElementById(collectionHolderId+'_table');
        var prototype = $collectionHolder.getAttribute('data-prototype');
        var index = $collectionHolder.getAttribute('data-index');
        index = parseInt(index);
        if (!index) {
            index = $rowContainer.getElementsByTagName('tbody')[0].children.length;
        }
        var newForm = prototype.replace(/__name__/g, index);
        var row = document.createElement('template');
        row.innerHTML = newForm;
        $collectionHolder.setAttribute('data-index', index + 1);
        $rowContainer.getElementsByTagName('tbody')[0].insertBefore( row.content, $rowContainer.getElementsByTagName('tbody')[0].firstChild );

        exec_body_scripts($rowContainer.getElementsByTagName('tbody')[0].getElementsByTagName('tr')[0]);
    }
    function removeRow(containerId) {
        var container = document.getElementById(containerId);
        container.parentNode.removeChild(container);
    }
    function readFile(file, maxWidth, maxHeight, preview, photoData) {
        var reader = new FileReader();

        reader.onloadend = function () { processFile(reader.result, file.type, maxWidth, maxHeight, preview, photoData); };

        reader.onerror = function () { alert('There was an error reading the file!'); };

        reader.readAsDataURL(file);
    }
    function sendFile(fileData, preview, photoData) {
        var img = document.getElementById(preview);
        img.removeAttribute('srcset');
        img.setAttribute('src', fileData);

        photoData = document.getElementById(photoData);
        photoData.value = fileData;
    }
    function processFile(dataURL, fileType, maxWidth, maxHeight, preview, photoData) {
        maxWidth = maxWidth || 350;
        maxHeight = maxHeight || 350;
        preview = preview || 'preview';

        var image = new Image();
        image.src = dataURL;

        image.onload = function () {
            var width = image.width;
            var height = image.height;
            var shouldResize = (width > maxWidth) || (height > maxHeight);

            if (!shouldResize) {
                sendFile(dataURL, preview, photoData);
                return;
            }

            var newWidth;
            var newHeight;

            if (width > height) {
                newHeight = height * (maxWidth / width);
                newWidth = maxWidth;
            } else {
                newWidth = width * (maxHeight / height);
                newHeight = maxHeight;
            }

            var canvas = document.createElement('canvas');

            canvas.width = newWidth;
            canvas.height = newHeight;

            var context = canvas.getContext('2d');

            context.drawImage(this, 0, 0, newWidth, newHeight);

            dataURL = canvas.toDataURL(fileType);

            sendFile(dataURL, preview, photoData);
        };

        image.onerror = function () {
            alert('There was an error processing your file!');
        };
    }
    if (window.File && window.FileReader && window.FormData) {
        var inputField = document.getElementById('{{ form.data.personalInformation.photo.vars.id }}');

        inputField.onchange = function (e) {
            var file = e.target.files[0];
            if (file) {
                if (/^image\//i.test(file.type)) {
                    readFile(file, null, null, 'preview', '{{ form.data.personalInformation.photoData.vars.id }}');
                } else {
                    alert('Not a valid image!');
                }
            }
            inputField.value = null;
        };
    }
    OneSignal.push(function() {
        var isPushNotificationsEnabled = false;
        /* These examples are all valid */
        OneSignal.isPushNotificationsEnabled(function (isEnabled) {
            isPushNotificationsEnabled = isEnabled;
            if (isEnabled) {
                document.getElementById('push-subscribe-container').style.display = 'none';
                OneSignal.getUserId(function(userId) {
                    document.getElementById('{{ form.oneSignalUserId.vars.id }}').value = userId;
                    console.log("OneSignal User ID:", userId);
                });
            } else {
                document.getElementById('{{ form.oneSignalUserId.vars.id }}').value = "";
            }
        });

        OneSignal.on('subscriptionChange', function (isSubscribed) {
            if (isSubscribed) {
                document.getElementById('push-subscribe-container').style.display = 'none';
                OneSignal.getUserId(function(userId) {
                    document.getElementById('{{ form.oneSignalUserId.vars.id }}').value = userId;
                    console.log("OneSignal User ID:", userId);
                });
            } else {
                document.getElementById('push-subscribe-container').style.display = 'block';
                document.getElementById('{{ form.oneSignalUserId.vars.id }}').value = "";
            }
        });

        var checkbox = document.getElementById('appbundle_profile_lostMode');
        checkbox.addEventListener('change', function (event) {
            if (event.target.checked && !isPushNotificationsEnabled) {
                document.getElementById('push-subscribe-container').style.display = 'block';
            } else {
                document.getElementById('push-subscribe-container').style.display = 'none';
            }
        });
        var evt = document.createEvent("HTMLEvents");
        evt.initEvent("change", false, true);
        checkbox.dispatchEvent(evt);
    });
    document.getElementById('push-subscribe-container').addEventListener('click', function() {
        OneSignal.showNativePrompt();
    });

</script>

<script>
    {% if not form.vars.valid %}
    {# Loop through every form item #}
    {% for child in form.children %}
    {# Display the errors of the form item #}
    {% for error in child.vars.errors %}
    alertify.error("{{ error.message|trans }}");
    {% endfor %}
    {% endfor %}
    {% endif %}

    {% if registrationForm is defined and registrationForm and not registrationForm.vars.valid %}
    {# Loop through every form item #}
    {% for child in registrationForm.children %}
    {# Display the errors of the form item #}
    {% for error in child.vars.errors %}
    alertify.error("{{ error.message|trans }}");
    {% endfor %}
    {% endfor %}
    {% endif %}
</script>

{% endblock %}

{% block stylesheets %}
    <style>
        @media
        only screen and (max-width: 64em),
        (min-device-width: 64em) and (max-device-width: 80em)  {

            #{{ form.data.emergencyContacts.vars.id }}_table td:nth-of-type(1):before { content: "{{ 'label.contact.name'|trans }}"; }
            #{{ form.data.emergencyContacts.vars.id }}_table td:nth-of-type(2):before { content: "{{ 'label.contact.relationship'|trans }}"; }
            #{{ form.data.emergencyContacts.vars.id }}_table td:nth-of-type(3):before { content: "{{ 'label.contact.phone'|trans }}"; }
            #{{ form.data.emergencyContacts.vars.id }}_table td:nth-of-type(4):before { content: "{{ 'label.contact.alt_phone'|trans }}"; }
            #{{ form.data.emergencyContacts.vars.id }}_table td:nth-of-type(5):before { content: "{{ 'label.contact.email'|trans }}"; }
            #{{ form.data.emergencyContacts.vars.id }}_table td:nth-of-type(6):before { content: ""; }
            #{{ form.data.emergencyContacts.vars.id }}_table td:nth-of-type(7):before { content: ""; }
            {##{{ form.data.emergencyContacts.vars.id }}_table td:nth-of-type(8):before { content: ""; }#}

            #{{ form.data.medicalHighlights.vars.id }}_table td:nth-of-type(1):before { content: "{{ 'label.highlight.category'|trans }}"; }
            #{{ form.data.medicalHighlights.vars.id }}_table td:nth-of-type(2):before { content: "{{ 'label.highlight.name'|trans }}"; }
            #{{ form.data.medicalHighlights.vars.id }}_table td:nth-of-type(3):before { content: "{{ 'label.highlight.notes'|trans }}"; }
            #{{ form.data.medicalHighlights.vars.id }}_table td:nth-of-type(4):before { content: ""; }
            {##{{ form.data.medicalHighlights.vars.id }}_table td:nth-of-type(5):before { content: ""; }#}

            #{{ form.data.medications.vars.id }}_table td:nth-of-type(1):before { content: "{{ 'label.medication.name'|trans }}"; }
            #{{ form.data.medications.vars.id }}_table td:nth-of-type(2):before { content: "{{ 'label.medication.dosage'|trans }}"; }
            #{{ form.data.medications.vars.id }}_table td:nth-of-type(3):before { content: "{{ 'label.medication.strength'|trans }}"; }
            #{{ form.data.medications.vars.id }}_table td:nth-of-type(4):before { content: "{{ 'label.medication.frequency'|trans }}"; }
            #{{ form.data.medications.vars.id }}_table td:nth-of-type(5):before { content: "{{ 'label.medication.route'|trans }}"; }
            #{{ form.data.medications.vars.id }}_table td:nth-of-type(6):before { content: "{{ 'label.medication.notes'|trans }}"; }
            #{{ form.data.medications.vars.id }}_table td:nth-of-type(7):before { content: ""; }
            {##{{ form.data.medications.vars.id }}_table td:nth-of-type(8):before { content: ""; }#}

            #{{ form.data.physicians.vars.id }}_table td:nth-of-type(1):before { content: "{{ 'label.physician.name'|trans }}"; }
            #{{ form.data.physicians.vars.id }}_table td:nth-of-type(2):before { content: "{{ 'label.physician.phone'|trans }}"; }
            #{{ form.data.physicians.vars.id }}_table td:nth-of-type(3):before { content: "{{ 'label.physician.speciality'|trans }}"; }
            #{{ form.data.physicians.vars.id }}_table td:nth-of-type(4):before { content: "{{ 'label.physician.notes'|trans }}"; }
            #{{ form.data.physicians.vars.id }}_table td:nth-of-type(5):before { content: ""; }
            {##{{ form.data.physicians.vars.id }}_table td:nth-of-type(6):before { content: ""; }#}

            #{{ form.data.address.vars.id }}_table td:nth-of-type(1):before { content: "{{ 'label.address.type'|trans }}"; }
            #{{ form.data.address.vars.id }}_table td:nth-of-type(2):before { content: "{{ 'label.address.address'|trans }}"; }
            #{{ form.data.address.vars.id }}_table td:nth-of-type(3):before { content: "{{ 'label.address.notes'|trans }}"; }
            #{{ form.data.address.vars.id }}_table td:nth-of-type(4):before { content: ""; }
            {##{{ form.data.address.vars.id }}_table td:nth-of-type(5):before { content: ""; }#}

            #{{ form.data.insurances.vars.id }}_table td:nth-of-type(1):before { content: "{{ 'label.insurance.name'|trans }}"; }
            #{{ form.data.insurances.vars.id }}_table td:nth-of-type(2):before { content: "{{ 'label.insurance.id_number'|trans }}"; }
            #{{ form.data.insurances.vars.id }}_table td:nth-of-type(3):before { content: "{{ 'label.insurance.group_number'|trans }}"; }
            #{{ form.data.insurances.vars.id }}_table td:nth-of-type(4):before { content: "{{ 'label.insurance.bin'|trans }}"; }
            #{{ form.data.insurances.vars.id }}_table td:nth-of-type(5):before { content: "{{ 'label.insurance.deductible'|trans }}"; }
            #{{ form.data.insurances.vars.id }}_table td:nth-of-type(6):before { content: "{{ 'label.insurance.phone'|trans }}"; }
            #{{ form.data.insurances.vars.id }}_table td:nth-of-type(7):before { content: "{{ 'label.insurance.notes'|trans }}"; }
            #{{ form.data.insurances.vars.id }}_table td:nth-of-type(8):before { content: ""; }
            {##{{ form.data.insurances.vars.id }}_table td:nth-of-type(9):before { content: ""; }#}

            #{{ form.data.others.vars.id }}_table td:nth-of-type(1):before { content: "{{ 'label.other.label'|trans }}"; }
            #{{ form.data.others.vars.id }}_table td:nth-of-type(2):before { content: "{{ 'label.other.notes'|trans }}"; }
            #{{ form.data.others.vars.id }}_table td:nth-of-type(3):before { content: ""; }
            {##{{ form.data.others.vars.id }}_table td:nth-of-type(4):before { content: ""; }#}

            #{{ form.data.documents.vars.id }}_table td:nth-of-type(1):before { content: "{{ 'label.document.label'|trans }}"; }
            #{{ form.data.documents.vars.id }}_table td:nth-of-type(2):before { content: "{{ 'label.document.photo'|trans }}"; }
            #{{ form.data.documents.vars.id }}_table td:nth-of-type(3):before { content: ""; }
            {##{{ form.data.others.vars.id }}_table td:nth-of-type(4):before { content: ""; }#}

        }
    </style>

{% endblock %}

{% block appbundle_profile_emergency_contact_row %}
    <tr id="{{ form.vars.id }}">
        <td class="form-group">{{ form_widget(form.name) }}</td>
        <td class="form-group">{{ form_widget(form.relationship) }}</td>
        <td class="form-group">{{ form_widget(form.phone) }}</td>
        <td class="form-group">{{ form_widget(form.altPhone) }}</td>
        <td class="form-group">{{ form_widget(form.email) }}</td>
        <td class="form-action">{{ form_widget(form.primary) }}</td>
        {#<td class="form-action">{{ form_widget(form.public) }}</td>#}
        <td class="form-action"><a href="#" class="pure-button pure-remove-button" onclick="removeRow('{{ form.vars.id }}');return false;">{{ "button.remove" | trans }}</a></td>
    </tr>
{% endblock %}
{% block appbundle_profile_medical_highlight_row %}
    <tr id="{{ form.vars.id }}">
        <td class="form-group">{{ form_widget(form.category) }}</td>
        <td class="form-group">{{ form_widget(form.name) }}</td>
        <td class="form-group">{{ form_widget(form.notes) }}</td>
        {#<td class="form-action">{{ form_widget(form.public) }}</td>#}
        <td class="form-action"><a href="#" class="pure-button pure-remove-button" onclick="removeRow('{{ form.vars.id }}');return false;">{{ "button.remove" | trans }}</a></td>
    </tr>
{% endblock %}
{% block appbundle_profile_medication_row %}
    <tr id="{{ form.vars.id }}">
        <td class="form-group">{{ form_widget(form.name) }}</td>
        <td class="form-group">{{ form_widget(form.dosage) }}</td>
        <td class="form-group">{{ form_widget(form.strength) }}</td>
        <td class="form-group">{{ form_widget(form.frequency) }}</td>
        <td class="form-group">{{ form_widget(form.route) }}</td>
        <td class="form-group">{{ form_widget(form.notes) }}</td>
        {#<td class="form-action">{{ form_widget(form.public) }}</td>#}
        <td class="form-action"><a href="#" class="pure-button pure-remove-button" onclick="removeRow('{{ form.vars.id }}');return false;">{{ "button.remove" | trans }}</a></td>
    </tr>
{% endblock %}
{% block appbundle_profile_physician_row %}
    <tr id="{{ form.vars.id }}">
        <td class="form-group">{{ form_widget(form.name) }}</td>
        <td class="form-group">{{ form_widget(form.phone) }}</td>
        <td class="form-group">{{ form_widget(form.speciality) }}</td>
        <td class="form-group">{{ form_widget(form.notes) }}</td>
        {#<td class="form-action">{{ form_widget(form.public) }}</td>#}
        <td class="form-action"><a href="#" class="pure-button pure-remove-button" onclick="removeRow('{{ form.vars.id }}');return false;">{{ "button.remove" | trans }}</a></td>
    </tr>
{% endblock %}
{% block appbundle_profile_address_row %}
    <tr id="{{ form.vars.id }}">
        <td class="form-group">{{ form_widget(form.type) }}</td>
        <td class="form-group">{{ form_widget(form.address) }}</td>
        <td class="form-group">{{ form_widget(form.notes) }}</td>
        {#<td class="form-action">{{ form_widget(form.public) }}</td>#}
        <td class="form-action"><a href="#" class="pure-button pure-remove-button" onclick="removeRow('{{ form.vars.id }}');return false;">{{ "button.remove" | trans }}</a></td>
    </tr>
{% endblock %}
{% block appbundle_profile_insurance_row %}
    <tr id="{{ form.vars.id }}">
        <td class="form-group">{{ form_widget(form.name) }}</td>
        <td class="form-group">{{ form_widget(form.idNumber) }}</td>
        <td class="form-group">{{ form_widget(form.groupNumber) }}</td>
        <td class="form-group">{{ form_widget(form.bin) }}</td>
        <td class="form-group">{{ form_widget(form.deductible) }}</td>
        <td class="form-group">{{ form_widget(form.phone) }}</td>
        <td class="form-group">{{ form_widget(form.notes) }}</td>
        {#<td class="form-action">{{ form_widget(form.public) }}</td>#}
        <td class="form-action"><a href="#" class="pure-button pure-remove-button" onclick="removeRow('{{ form.vars.id }}');return false;">{{ "button.remove" | trans }}</a></td>
    </tr>
{% endblock %}
{% block appbundle_profile_other_row %}
    <tr id="{{ form.vars.id }}">
        <td class="form-group">{{ form_widget(form.label) }}</td>
        <td class="form-group">{{ form_widget(form.notes) }}</td>
        {#<td class="form-action">{{ form_widget(form.public) }}</td>#}
        <td class="form-action"><a href="#" class="pure-button pure-remove-button" onclick="removeRow('{{ form.vars.id }}');return false;">{{ "button.remove" | trans }}</a></td>
    </tr>
{% endblock %}
{% block appbundle_profile_document_row %}
    <tr id="{{ form.vars.id }}">
        <td class="form-group">{{ form_widget(form.label) }}</td>
        <td class="form-group">
            <label for="{{ form.photo.vars.id }}" style="cursor: pointer;">
                <div>{{ form.photo.vars.label|trans }}</div>
                {% if form.path.vars.value %}
                    <img src="{{ photo_web_directory ~ form.path.vars.value }}" id="{{ form.photo.vars.id }}_preview" style="max-height:128px;max-width:128px;">
                {% else %}
                    <img src="{{ asset('images/camera.png') }}" srcset="{{ asset('images/camera@2x.png') }} 2x" id="{{ form.photo.vars.id }}_preview" style="max-height:128px;max-width:128px;">
                {% endif %}
            </label>
            {{ form_widget(form.photo, {attr: {class: 'hidden'}}) }}
            {{ form_widget(form.photoData) }}
        </td>
        {#<td class="form-action">{{ form_widget(form.public) }}</td>#}
        <td class="form-action">
            <a href="#" class="pure-button pure-remove-button" onclick="removeRow('{{ form.vars.id }}');return false;">{{ "button.remove" | trans }}</a>
        </td>
        <script>
            if (window.File && window.FileReader && window.FormData) {
                var inputField_{{ form.photo.vars.id }} = document.getElementById('{{ form.photo.vars.id }}');
                inputField_{{ form.photo.vars.id }}.onchange = function (e) {
                    var file = e.target.files[0];
                    if (file) {
                        if (/^image\//i.test(file.type)) {
                            readFile(file, 1024, 768, "{{ form.photo.vars.id }}_preview", "{{ form.photoData.vars.id }}");
                        } else {
                            alert('Not a valid image!');
                        }
                    }
                    inputField_{{ form.photo.vars.id }}.value = null;
                };
            }
        </script>
    </tr>
{% endblock %}
