{% extends 'base.html.twig' %}

{% block title %}{{ 'title.personal_profile_of'|trans }} {{ data.personalInformation.name }}{% endblock %}

{% block body %}
    <div class="container pure-u">
        {% include 'default/header.html.twig' %}
        <div class="pure-u-1 highlights section">
            <div class="pure-g">
                {% for category,highlights in data.medicalHighlightByGroups %}
                    <div class="pure-u-1 pure-u-sm-1-4 pure-u-md-1-4">
                        <h3>{{ category|trans }}</h3>
                        <ul>
                            {% for highlight in highlights %}
                                <li>{{ highlight.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            {% if data.additionalKeyInformation %}
            <div class="pure-u-1 additional-info">
                <h2>{{ 'title.additional_key_information'|trans }}</h2>
                <p>{{ data.additionalKeyInformation|nl2br }}</p>
            </div>
            {% endif %}
        </div>
        <div class="pure-g section">
            <div class="pure-u-1 pure-u-sm-1 pure-u-md-1-2 personal-info-wrapper">
                <h1>{{ data.personalInformation.name }}</h1>
                <div class="pure-g">
                    {% if data.personalInformation.photo %}
                    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 photo-wrapper"><img src="{{ photo_web_directory ~ data.personalInformation.photo }}" class="photo"></div>
                    {% endif %}
                    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-2-3 personal-info-wrapper">
                        <ul class="personal-info">
                            {% if data.personalInformation.phone %}
                                <li><b>{{ 'label.personal.phone'|trans }}:</b> <a href="tel:{{ data.personalInformation.phone }}">{{ data.personalInformation.phone }}</a></li>
                            {% endif %}
                            {% if data.personalInformation.birthdate %}
                                <li><b>{{ 'label.personal.birthdate'|trans }}:</b> {{ data.personalInformation.birthdate|date('m/Y') }}</li>
                            {% endif %}
                            {% if data.personalInformation.speaks %}
                                <li><b>{{ 'label.personal.speaks'|trans }}:</b> {{ data.personalInformation.speaks|trans }}</li>
                            {% endif %}
                            {% if data.personalInformation.gender %}
                                <li><b>{{ 'label.personal.gender'|trans }}:</b> {{ data.personalInformation.genderLabel|trans }}</li>
                            {% endif %}
                            {% if data.personalInformation.passport %}
                                <li><b>{{ 'label.personal.passport'|trans }}:</b> {{ data.personalInformation.passport|trans }}</li>
                            {% endif %}
                            {% if data.personalInformation.blood %}
                                <li><b>{{ "label.personal.blood_type" | trans }}:</b> {{ data.personalInformation.bloodLabel|trans }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pure-u-1 pure-u-sm-1 pure-u-md-1-2 contact-wrapper">
                {% if data.primaryContacts|length %}
                    <h2>{{ "title.primary_contact" | trans }}</h2>
                    {% for contact in data.primaryContacts %}
                    <div class="primary-contact contact pure-u-23-24">
                        <a href="{% if contact.phone %}tel:{{ contact.phone }}{% elseif contact.email %}mailto:{{ contact.email }}{% endif %}" class="contact-now">
                            <img src="{{ asset('images/phone2.png') }}"/>
                            {{ "label.contact.contact_now" | trans }}</a>
                        <h3>{{ contact.name }}{% if contact.relationship %} ({{ contact.relationship }}){% endif %}</h3>
                        {% if contact.phone %}{{ "label.contact.phone" | trans }}: <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a><br>{% endif %}
                        {% if contact.email %}{{ "label.contact.email" | trans }}: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>{% endif %}
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if data.additionalContacts|length > 0 %}
        <div class="pure-u-1 section contact-wrapper">
            <h2>{{ "title.additional_contacts" | trans }}</h2>
            <div class="pure-g">
            {% for contact in data.additionalContacts %}
                <div class="pure-u-1 pure-u-sm-1 pure-u-md-1-2">
                    <div class="contact pure-u-23-24">
                        <a href="{% if contact.phone %}tel:{{ contact.phone }}{% elseif contact.email %}mailto:{{ contact.email }}{% endif %}" class="contact-now">
                            <img src="{{ asset('images/phone2.png') }}"/>
                            {{ "label.contact.contact_now" | trans }}
                        </a>
                        <h3>{{ contact.name }}{% if contact.relationship %} ({{ contact.relationship }}){% endif %}</h3>
                        {% if contact.phone %}{{ "label.contact.phone" | trans }}: <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a><br>{% endif %}
                        {% if contact.email %}{{ "label.contact.email" | trans }}: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>{% endif %}
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if data.medications|length > 0 %}
        <div class="pure-u-1 section">
            <h2 class="pure-u-1-2">{{ "title.medications" | trans }}</h2>
            <table class="pure-table medications_table">
                <thead>
                <tr>
                    <th>{{ "label.medication.name" | trans }}</th>
                    <th>{{ "label.medication.dosage" | trans }}</th>
                    <th>{{ "label.medication.strength" | trans }}</th>
                    <th>{{ "label.medication.frequency" | trans }}</th>
                    <th>{{ "label.medication.route" | trans }}</th>
                    <th>{{ "label.medication.notes" | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data.medications %}
                <tr>
                    <td>{{ item.name?item.name:'-' }}</td>
                    <td>{{ item.dosage?item.dosage:'-' }}</td>
                    <td>{{ item.strength?item.strength:'-' }}</td>
                    <td>{{ item.frequency?item.frequency:'-' }}</td>
                    <td>{{ item.route?item.route:'-' }}</td>
                    <td>{{ item.notes?item.notes:'-' }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if data.physicians|length > 0 %}
        <div class="pure-u-1 section">
            <h2 class="pure-u-1-2">{{ "title.physicians" | trans }}</h2>
            <div class="pure-u-1">
                <table class="pure-table physicians_table">
                    <thead>
                    <tr>
                        <th>{{ "label.physician.name" | trans }}</th>
                        <th>{{ "label.physician.phone" | trans }}</th>
                        <th>{{ "label.physician.speciality" | trans }}</th>
                        <th>{{ "label.physician.notes" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data.physicians %}
                    <tr>
                        <td>{{ item.name?item.name:'-' }}</td>
                        <td>{{ item.phone?item.phone:'-' }}</td>
                        <td>{{ item.speciality?item.speciality:'-' }}</td>
                        <td>{{ item.notes?item.notes:'-' }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if data.address|length > 0 %}
        <div class="pure-u-1 section">
            <h2 class="pure-u-1-2">{{ "title.addresses" | trans }}</h2>
            <div class="pure-u-1">
                <table class="pure-table address_table">
                    <thead>
                    <tr>
                        <th>{{ "label.address.type" | trans }}</th>
                        <th>{{ "label.address.address" | trans }}</th>
                        {#<th>City</th>#}
                        {#<th>Zip</th>#}
                        {#<th>State/Region</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data.address %}
                    <tr>
                        <td>{{ item.type?item.type:'-' }}</td>
                        <td>{{ item.address?item.address:'-' }}</td>
                        {#<td>{{ item.city }}</td>#}
                        {#<td>{{ item.zip }}</td>#}
                        {#<td>{{ item.state }}</td>#}
                    </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if data.insurances|length > 0 %}
        <div class="pure-u-1 section">
            <h2 class="pure-u-1-2">{{ "title.insurances" | trans }}</h2>
            <div class="pure-u-1">
                <table class="pure-table insurances_table">
                    <thead>
                    <tr>
                        <th>{{ "label.insurance.name" | trans }}</th>
                        <th>{{ "label.insurance.id_number" | trans }}</th>
                        <th>{{ "label.insurance.group_number" | trans }}</th>
                        <th>{{ "label.insurance.bin" | trans }}</th>
                        <th>{{ "label.insurance.deductible" | trans }}</th>
                        <th>{{ "label.insurance.phone" | trans }}</th>
                        <th>{{ "label.insurance.notes" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data.insurances %}
                        <tr>
                            <td>{{ item.name?item.name:'-' }}</td>
                            <td>{{ item.idNumber?item.idNumber:'-' }}</td>
                            <td>{{ item.groupNumber?item.groupNumber:'-' }}</td>
                            <td>{{ item.bin?item.bin:'-' }}</td>
                            <td>{{ item.deductible?item.deductible:'-' }}</td>
                            <td>{{ item.phone?item.phone:'-' }}</td>
                            <td>{{ item.notes?item.notes:'-' }}</td>
                        </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if data.others|length > 0 %}
        <div class="pure-u-1 section">
            <h2 class="pure-u-1-2">{{ "title.others" | trans }}</h2>
            <div class="pure-u-1">
                <table class="pure-table others_table">
                    <thead>
                    <tr>
                        <th>{{ "label.other.label" | trans }}</th>
                        <th>{{ "label.other.notes" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data.others %}
                        <tr>
                            <td>{{ item.label?item.label:'-' }}</td>
                            <td>{{ item.notes?item.notes:'-' }}</td>
                        </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if data.documents|length > 0 %}
        <div class="pure-u-1 section">
            <h2 class="pure-u-1-2">{{ "title.documents" | trans }}</h2>
            <div class="pure-u-1">
                <table class="pure-table documents_table">
                    <thead>
                    <tr>
                        <th>{{ "label.document.label" | trans }}</th>
                        <th>{{ "label.document.photo" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data.documents %}
                        <tr>
                            <td>{{ item.label?item.label:'-' }}</td>
                            <td><a href="{{ photo_web_directory ~ item.path }}" target="_blank">{{ 'label.document.download'|trans }}</a></td>
                        </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if link is defined and not profile.account %}
        <div class="pure-g">
            <a href="{{ path('link_edit', {link: link.id}) }}" class="pure-button edit-link">{{ "button.edit" | trans }}</a>
        </div>
        {% endif %}
        <div class="pure-g footer">
            <div class="l-box pure-u-1 is-center">
                {% if profile.lostMode and profile.oneSignalUserId %}
                <div><button type="button" class="pure-button" id="send-message">Send message</button></div>
                {% else %}
                &nbsp;
                {% endif %}
                <span class="copyright">All rights reserved. Copyright © {{ 'now'|date('Y') }} <a href="https://myid.in.th">MyID.in.th</a></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

            .emergency_contacts_table td:nth-of-type(1):before { content: "{{ 'label.contact.name'|trans }}"; }
            .emergency_contacts_table td:nth-of-type(2):before { content: "{{ 'label.contact.relationship'|trans }}"; }
            .emergency_contacts_table td:nth-of-type(3):before { content: "{{ 'label.contact.phone'|trans }}"; }
            .emergency_contacts_table td:nth-of-type(4):before { content: "{{ 'label.contact.alt_phone'|trans }}"; }
            .emergency_contacts_table td:nth-of-type(5):before { content: "{{ 'label.contact.email'|trans }}"; }

            .medical_highlights_table td:nth-of-type(1):before { content: "{{ 'label.highlight.category'|trans }}"; }
            .medical_highlights_table td:nth-of-type(2):before { content: "{{ 'label.highlight.name'|trans }}"; }
            .medical_highlights_table td:nth-of-type(3):before { content: "{{ 'label.highlight.notes'|trans }}"; }

            .medications_table td:nth-of-type(1):before { content: "{{ 'label.medication.name'|trans }}"; }
            .medications_table td:nth-of-type(2):before { content: "{{ 'label.medication.dosage'|trans }}"; }
            .medications_table td:nth-of-type(3):before { content: "{{ 'label.medication.strength'|trans }}"; }
            .medications_table td:nth-of-type(4):before { content: "{{ 'label.medication.frequency'|trans }}"; }
            .medications_table td:nth-of-type(5):before { content: "{{ 'label.medication.route'|trans }}"; }
            .medications_table td:nth-of-type(6):before { content: "{{ 'label.medication.notes'|trans }}"; }

            .physicians_table td:nth-of-type(1):before { content: "{{ 'label.physician.name'|trans }}"; }
            .physicians_table td:nth-of-type(2):before { content: "{{ 'label.physician.phone'|trans }}"; }
            .physicians_table td:nth-of-type(3):before { content: "{{ 'label.physician.speciality'|trans }}"; }
            .physicians_table td:nth-of-type(4):before { content: "{{ 'label.physician.notes'|trans }}"; }

            .address_table td:nth-of-type(1):before { content: "{{ 'label.address.type'|trans }}"; }
            .address_table td:nth-of-type(2):before { content: "{{ 'label.address.address'|trans }}"; }

            .insurances_table td:nth-of-type(1):before { content: "{{ 'label.insurance.name'|trans }}"; }
            .insurances_table td:nth-of-type(2):before { content: "{{ 'label.insurance.id_number'|trans }}"; }
            .insurances_table td:nth-of-type(3):before { content: "{{ 'label.insurance.group_number'|trans }}"; }
            .insurances_table td:nth-of-type(4):before { content: "{{ 'label.insurance.bin'|trans }}"; }
            .insurances_table td:nth-of-type(5):before { content: "{{ 'label.insurance.deductible'|trans }}"; }
            .insurances_table td:nth-of-type(6):before { content: "{{ 'label.insurance.phone'|trans }}"; }
            .insurances_table td:nth-of-type(7):before { content: "{{ 'label.insurance.notes'|trans }}"; }

            .others_table td:nth-of-type(1):before { content: "{{ 'label.other.label'|trans }}"; }
            .others_table td:nth-of-type(2):before { content: "{{ 'label.other.notes'|trans }}"; }

            .documents_table td:nth-of-type(1):before { content: "{{ 'label.document.label'|trans }}"; }
            .documents_table td:nth-of-type(2):before { content: "{{ 'label.document.photo'|trans }}"; }
        }
    </style>
{% endblock %}

{% block javascripts %}
{% if viewLog is defined %}
<script>
    var ajax = {};
    ajax.x = function () {
        if (typeof XMLHttpRequest !== 'undefined') {
            return new XMLHttpRequest();
        }
        var versions = [
            "MSXML2.XmlHttp.6.0",
            "MSXML2.XmlHttp.5.0",
            "MSXML2.XmlHttp.4.0",
            "MSXML2.XmlHttp.3.0",
            "MSXML2.XmlHttp.2.0",
            "Microsoft.XmlHttp"
        ];

        var xhr;
        for (var i = 0; i < versions.length; i++) {
            try {
                xhr = new ActiveXObject(versions[i]);
                break;
            } catch (e) {
            }
        }
        return xhr;
    };

    ajax.send = function (url, callback, method, data, async) {
        if (async === undefined) {
            async = true;
        }
        var x = ajax.x();
        x.open(method, url, async);
        x.onreadystatechange = function () {
            if (x.readyState == 4) {
                callback(x.responseText)
            }
        };
        if (method == 'POST') {
            x.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        }
        x.send(data)
    };

    ajax.post = function (url, data, callback, async) {
        var query = [];
        for (var key in data) {
            query.push(encodeURIComponent(key) + '=' + encodeURIComponent(data[key]));
        }
        ajax.send(url, callback, 'POST', query.join('&'), async)
    };
</script>
{% if profile.lostMode %}
<script>
    function successFunction(position) {
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        ajax.post('{{ path('view_log', {viewLog: viewLog.id}) }}', {latitude: lat, longitude: long}, function() {});
    }
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(successFunction);
    }
    {% if profile.oneSignalUserId %}
    document.getElementById('send-message').addEventListener('click', function () {
        alertify.prompt('Send message to the owner', 'Provide any information like location, contact phone, etc.', '',
            function (evt, value) {
                ajax.post('{{ path('notify', {profile: profile.id}) }}', {message: value}, function() {
                    alertify.success('Message was sent');
                });
            },
            function () {});
    });
    {% endif %}
</script>
{% endif %}
{% endif %}
{% endblock %}
