{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% include 'default/header.html.twig' %}
    {% form_theme form with ['Form/purecss_div_layout.html.twig', _self] %}
    {{ form_start(form, {attr:{class: 'pure-form pure-form-stacked'}}) }}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-5">&nbsp;</div>
        <div class="pure-u-1 pure-u-lg-3-5 panel panel-default">
            <div class="pure-u-1 panel-heading">
                <h2>{{ 'button.add_band'|trans }} - {{ profile.data.personalInformation.name }}</h2>
            </div>
            <div class="pure-u-1 panel-body">
                {{ form_row(form.code) }}
                {{ form_row(form.pin) }}
            </div>
            <div class="pure-u-1 panel-actions">
                <button type="submit" class="pure-button">{{ 'button.submit'|trans }}</button>
                {% if profile.links|length > 0 %}
                &nbsp;<a href="{{ path('profile_links', {profile: profile.id}) }}">{{ 'label.back'|trans }}</a>
                {% else %}
                &nbsp;<a href="{{ path('profile') }}">{{ 'label.back'|trans }}</a>
                {% endif %}
            </div>
        </div>
        <div class="pure-u-1 pure-u-lg-1-5">&nbsp;</div>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}