{% extends 'base.html.twig' %}

{% block body %}
    <div class="pure-u-1 container">
        {% include 'default/header.html.twig' %}
        <div class="pure-u-1">
            <h2 class="pure-u-1-2">{{ "title.profiles" | trans }}</h2>
            <a href="{{ path('profile_new') }}" class="pure-button add-row">{{ "label.add" | trans }}</a>
        </div>
        {% if profiles|length > 0 %}
        <div class="pure-u-1">
            <table class="pure-table" id="profiles_list">
                <thead>
                <tr>
                    <th width="50"></th>
                    <th>{{ 'label.personal.name'|trans }}</th>
                    <th class="form-action">{{ 'title.devices'|trans }}</th>
                    <th class="form-action wide"></th>
                </tr>
                </thead>
                <tbody>
                {% for profile in profiles %}
                    <tr>
                        <td>{% if profile.data.personalInformation.photo %}<img src="{{ photo_web_directory ~ profile.data.personalInformation.photo }}" style="height:50px;">{% else %}&nbsp;{% endif %}</td>
                        <td>{{ profile.data.personalInformation.name }}</td>
                        <td>
                            {% if profile.links|length > 0 %}
                                <a href="{{ path('profile_links', {profile: profile.id}) }}" class="pure-button">{{ 'button.linked_bands'|trans }} {{ profile.links|length }}</a>
                            {% else %}
                                <a href="{{ path('profile_links_add', {profile: profile.id}) }}" class="pure-button">{{ 'button.add_band'|trans }}</a>
                            {% endif %}
                        </td>
                        <td>
                            <div class="pure-u margin-bottom">
                            <a href="{{ path('profile_preview', {profile: profile.id}) }}" target="_blank" class="pure-button">{{ 'button.view'|trans }}</a>&nbsp;
                            <a href="{{ path('profile_edit', {profile: profile.id}) }}" class="pure-button">{{ 'button.edit'|trans }}</a>&nbsp;
                            </div>
                            <div class="pure-u">
                            <a href="{{ path('profile_log', {profile: profile.id}) }}" class="pure-button">{{ 'button.log'|trans }}</a>
                            <a href="{{ path('profile_delete', {profile: profile.id}) }}" class="pure-button pure-remove-button" onclick="return confirm('{{ 'info.sure_delete_profile'|trans }}')">{{ 'button.delete'|trans }}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <p>{{ 'layout.profiles_empty'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style>
@media
only screen and (max-width: 64em),
(min-device-width: 64em) and (max-device-width: 80em) {
    #profiles_list td:nth-of-type(1):before {
        content: "{{ 'label.personal.photo'|trans }}";
    }
    #profiles_list td:nth-of-type(2):before {
        content: "{{ 'label.personal.name'|trans }}";
    }
    #profiles_list td:nth-of-type(3):before {
        content: "{{ 'title.devices'|trans }}";
    }
    #profiles_list td:nth-of-type(4):before {
        content: "";
    }
    #profiles_list td:nth-of-type(5):before {
        content: "";
    }
}
</style>
{% endblock %}