{% extends 'base.html.twig' %}

{% block body %}
    <div class="pure-u-1 container">
        {% include 'default/header.html.twig' %}
        <div class="pure-u-1">
            <h2 class="pure-u-1-2">{{ profile.data.personalInformation.name }} - {{ "title.devices" | trans }}</h2>
            <a href="{{ path('profile_links_add', {profile: profile.id}) }}" class="pure-button add-row">{{ "button.add_band" | trans }}</a>
        </div>
        <div class="pure-u-1">
            {#<div class="pure-u-1 pure-u-sm-1-2">#}
                <table class="pure-table " id="profile_links">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>PIN</th>
                        <th class="form-action"></th>
                        <th class="form-action"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for link in profile.links %}
                        <tr>
                            <td>{{ link.code }}</td>
                            <td>{{ link.pin }}</td>
                            <td><a href="{{ url('link_view', {link: link.id}) }}" class="pure-button" target="_blank">{{ 'button.view'|trans }}</a></td>
                            <td><a href="{{ path('profile_links_unlink', {link: link.id, profile: profile.id}) }}" class="pure-button pure-remove-button" onclick="return confirm('{{ 'label.confirmation'|trans }}')">{{ 'button.unlink'|trans }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {#</div>#}
            {#<div class="pure-u-1 pure-u-sm-1-2">&nbsp;</div>#}
        </div>
        <p><a href="{{ path('profile') }}">{{ 'label.back'|trans }}</a></p>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @media
        only screen and (max-width: 64em),
        (min-device-width: 64em) and (max-device-width: 80em) {
            #profile_links td:nth-of-type(1):before {
                content: "ID";
            }
            #profile_links td:nth-of-type(2):before {
                content: "PIN";
            }
            #profile_links td:nth-of-type(3):before {
                content: "";
            }
            #profile_links td:nth-of-type(4):before {
                content: "";
            }
        }
    </style>
{% endblock %}