<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
        <meta name="description" content="{{ 'layout.description'|trans }}">
        <title>{% block title %}MyID.in.th - medical profile in cloud{% endblock %}</title>
        {% stylesheets filter="scssphp" output="css/app_base.css"
        "assets/vendor/pure/pure-min.css"
        "assets/vendor/pure/grids-responsive-min.css"
        "assets/css/styles.css"
        "assets/vendor/alertifyjs/css/alertify.min.css"
        "assets/vendor/alertifyjs/css/themes/default.min.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}
        {% endblock %}
        <script src="{{ asset('assets/vendor/alertifyjs/alertify.min.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
            var OneSignal = window.OneSignal || [];
            OneSignal.push(function() {
                OneSignal.init({
                    appId: "3e79997b-8da8-463d-850b-4bf31f3a28d0",
                    promptOptions: {
                        customlink: {
                            enabled: true, /* Required to use the Custom Link */
                            style: "button", /* Has value of 'button' or 'link' */
                            size: "medium", /* One of 'small', 'medium', or 'large' */
                            color: {
                                button: '#E12D30', /* Color of the button background if style = "button" */
                                text: '#FFFFFF', /* Color of the prompt's text */
                            },
                            text: {
                                subscribe: "Subscribe to push notifications", /* Prompt's text when not subscribed */
                                unsubscribe: "Unsubscribe from push notifications", /* Prompt's text when subscribed */
                                // explanation: "Get updates from all sorts of things that matter to you", /* Optional text appearing before the prompt button */
                            },
                            // unsubscribeEnabled: true, /* Controls whether the prompt is visible after subscription */
                        }
                    }
                });
            });
            alertify.set('notifier','position', 'top-right');
        </script>
    </head>
    <body>
        {% block header %}{% endblock %}
        <div class="content-wrapper">
            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
            <script>
                {% if app.session is defined and app.session.flashBag.has('notice') %}
                {% for msg in app.session.flashBag.get('notice') %}
                alertify.success("{{ msg|trans }}");
                {% endfor %}
                {% endif %}
                {% if app.session is defined and app.session.flashBag.has('error') %}
                {% for msg in app.session.flashBag.get('error') %}
                alertify.error("{{ msg|trans }}");
                {% endfor %}
                {% endif %}
            </script>
        {% endblock %}
    </body>
</html>
