<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ 'layout.description'|trans }}">
    <title>{% block title %}MyID.in.th - medical profile in cloud{% endblock %}</title>

    {% stylesheets filter="scssphp" output="css/app_full.css"
    "assets/vendor/pure/pure-min.css"
    "assets/vendor/pure/grids-responsive-min.css"
    "assets/vendor/pure/forms-min.css"
    "assets/css/marketing.css"
    "assets/vendor/alertifyjs/css/alertify.min.css"
    "assets/vendor/alertifyjs/css/themes/default.min.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
    <script src="{{ asset('assets/vendor/alertifyjs/alertify.min.js') }}"></script>
    <script async>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-93498595-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>

<div class="header custom-wrapper pure-g" id="menu">
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="pure-menu pure-g">
            <a class="logo-wrapper pure-u-2-3 pure-u-sm-1-3" href="{{ path('homepage') }}">
                <img src="{{ asset('images/logo.svg') }}" onerror="this.onerror=null; this.src='{{ asset('images/logo.png') }}'" alt="MyID.in.th" class="logo" />
            </a>
            <div class="language-selector pure-u-1-3 pure-u-md-hide">
                {% include 'default/_language_selector.html.twig' %}
            </div>
            {#<a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>#}
        </div>
    </div>
    <div class="pure-u-1 pure-u-sm-hide pure-u-md-1-3">
        <div class="language-selector">
            {% include 'default/_language_selector.html.twig' %}
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="pure-menu pure-menu-horizontal custom-menu-3 custom-can-transform">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link">{{ 'layout.help'|trans }}</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="{{ path('faq') }}" class="pure-menu-link">FAQ</a></li>
                        <li class="pure-menu-item"><a href="{{ path('sizing') }}" class="pure-menu-link">{{ 'title.sizing'|trans }}</a></li>
                    </ul>
                </li>
                <li class="pure-menu-item"><a href="https://www.facebook.com/pg/myid.in.th/shop/?cid=928476367321909" target="_blank" class="pure-menu-link">{{ 'layout.buy'|trans }}</a></li>
                {% if app.user %}
                <li class="pure-menu-item">
                    <a href="{{ path('profile') }}" class="pure-menu-link">{{ "layout.profile" | trans }}</a>
                </li>
                <li class="pure-menu-item">
                    <a href="{{ path('fos_user_security_logout') }}" class="pure-menu-link">{{ 'layout.logout'|trans([], 'FOSUserBundle') }}</a>
                </li>
                {% else %}
                <li class="pure-menu-item">
                    <a href="{{ path('fos_user_registration_register') }}" class="pure-menu-link">{{ 'layout.register'|trans([], 'FOSUserBundle') }}</a>
                </li>
                <li class="pure-menu-item">
                    <a href="{{ path('fos_user_security_login') }}" class="pure-menu-link">{{ 'layout.login'|trans([], 'FOSUserBundle') }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% block body %}
{% endblock %}
<div class="footer l-box pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
        Email: <a href="mailto:info@myid.in.th">info@myid.in.th</a><br>
        Facebook: <a href="https://www.facebook.com/myid.in.th/" target="_blank">myid.in.th</a><br>
        Instagram: <a href="https://www.instagram.com/myid.in.th/" target="_blank">myid.in.th</a>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 is-right">
        <a href="{{ path('privacy') }}">{{ 'title.privacy_statement'|trans }}</a> | <a href="{{ path('terms') }}">{{ 'title.terms'|trans }}</a>
        <br>
        <span class="copyright">All rights reserved. Copyright © {{ 'now'|date('Y') }} <a href="https://myid.in.th">MyID.in.th</a></span>
    </div>
</div>

{% block javascripts %}
    <script>
        {% if app.session.flashBag.has('notice') %}
            {% for msg in app.session.flashBag.get('notice') %}
                alertify.success("{{ msg|trans }}");
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            {% for msg in app.session.flashBag.get('error') %}
                alertify.error("{{ msg|trans }}");
            {% endfor %}
        {% endif %}
    </script>
    <script type="text/javascript" async>
        (function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/c/3/c3644a8401a1fb0dbd0f6c39ca9dff8a/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
    </script>
{% endblock %}
</body>
</html>
