{% if app.request.locale != 'en' %}<a href="{{ path('change_locale', {_locale: 'en'}) }}">{% endif %}{{ 'locale.en'|trans }}{% if app.request.locale != 'en' %}</a>{% endif %}&nbsp;|&nbsp;{% if app.request.locale != 'th' %}<a href="{{ path('change_locale', {_locale: 'th'}) }}">{% endif %}{{ 'locale.th'|trans }}{% if app.request.locale != 'th' %}</a>{% endif %}&nbsp;|&nbsp;{% if app.request.locale != 'ru' %}<a href="{{ path('change_locale', {_locale: 'ru'}) }}">{% endif %}{{ 'locale.ru'|trans }}{% if app.request.locale != 'ru' %}</a>{% endif %}
