{% extends 'base_full.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">{{ 'title.faq'|trans }}</h2>

            <div class="pure-u-1">
                {% include 'default/faq/'~app.request.locale~'.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}