<div class="pure-g header">
    <a class="pure-u-1-2" href="{{ path('homepage') }}">
        <img src="{{ asset('images/logo.svg') }}" onerror="this.onerror=null; this.src='{{ asset('images/logo.png') }}'" alt="MyID.in.th" class="logo"/>
    </a>
    <span class="pure-u-1-2 is-right language-selector">
        {% include 'default/_language_selector.html.twig' %}
        {% if app.user %}
            {% set username = app.user.name?app.user.name:app.user.email %}
            {% if username %}
            <span style="margin-left: 20px;">{{ 'layout.logged_in_as'|trans({'%username%':username}, 'FOSUserBundle') }}</span>
            {% endif %}
            <a href="{{ path('fos_user_security_logout') }}" >{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </span>
</div>
