{% extends 'base_full.html.twig' %}

{% block body %}
<div class="splash-container pure-g">
    <div class="pure-u-1 pure-u-sm-1 pure-u-md-1-3 pure-u-lg-7-24 login-block">
        <h2 class="with_hint">{{ "title.emergency_login" | trans }}</h2>
        <span class="hint">{{ 'title.emergency_login_hint'|trans }}</span>
        <form class="pure-form pure-u-1 is-center" action="{{ path('manual_link') }}" method="post">
            <fieldset>
                <div class="input-group pure-u-1">
                    <span>ID</span><input type="number" class="pure-input" name="id">
                </div>
                <div class="input-group pure-u-1">
                    <span>PIN</span><input type="number" class="pure-input" name="pin">
                </div>
                <button type="submit" class="pure-button pure-button-primary">{{ 'button.submit'|trans }}</button>
            </fieldset>
        </form>
    </div>
    <div class="pure-u-1 pure-u-sm-hide pure-u-md-2-3 pure-u-lg-17-24 promo-block">&nbsp;</div>
</div>

<div class="content-wrapper">
    <h3 class="download-app is-center">
        {{ 'title.download_app'|trans }}<br>
        <a href="https://appsto.re/th/rGS9v.i" class="appstore">
            <img src="{{ asset('images/appstore.png') }}" srcset="{{ asset('images/appstore@2x.png') }} 2x">
        </a>
        <a href="https://play.google.com/store/apps/details?id=me.scan.android.client" class="googleplay">
            <img src="{{ asset('images/googleplay.png') }}" srcset="{{ asset('images/googleplay@2x.png') }} 2x">
        </a>
    </h3>
    <div class="content">
        <h2 class="content-head is-center">{{ 'title.slogan'|trans }}</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    {{ 'layout.fast_access'|trans }}
                </h3>
                <p>{{ 'layout.fast_access_description'|trans }}</p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    {{ 'layout.access_everywhere'|trans }}
                </h3>
                <p>{{ 'layout.access_everywhere_description'|trans }}</p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    {{ 'layout.better_communication'|trans }}
                </h3>
                <p>{{ 'layout.better_communication_description'|trans }}</p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    {{ 'layout.use_anywhere'|trans }}
                </h3>
                <p>{{ 'layout.use_anywhere_description'|trans }}</p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="pure-u-1">
            <h2 class="content-head content-head-ribbon is-center">{{ 'title.using_bracelet'|trans }}</h2>
            <div class="content pure-g">
                <div class="pure-u-1 pure-u-sm-1-4 step-item">
                    <span class="step">1</span>
                    <img src="{{ asset('images/case-1-1.jpg') }}">
                    <p>{{ 'layout.using_bracelet_step_1'|trans }}</p>
                </div>
                <div class="pure-u-1 pure-u-sm-1-4 step-item">
                    <span class="step">2</span>
                    <img src="{{ asset('images/case-1-2.jpg') }}">
                    <p>{{ 'layout.using_bracelet_step_2'|trans }}</p>
                </div>
                <div class="pure-u-1 pure-u-sm-1-4 step-item">
                    <span class="step">3</span>
                    <img src="{{ asset('images/case-1-3.jpg') }}">
                    <p>{{ 'layout.using_bracelet_step_3'|trans }}</p>
                </div>
                <div class="pure-u-1 pure-u-sm-1-4 step-item">
                    <span class="step">4</span>
                    <img src="{{ asset('images/case-1-4.jpg') }}">
                    <p>{{ 'layout.using_bracelet_step_4'|trans }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="l-box-lrg pure-g">
        <div class="pure-u-1">
            <h2 class="content-head content-head is-center">{{ 'title.using_pet_tag'|trans }}</h2>
            <div class="content pure-g">
                <div class="pure-u-1 pure-u-sm-1-4 step-item">
                    <span class="step">1</span>
                    <img src="{{ asset('images/case-2-1.jpg') }}">
                    <p>{{ 'layout.using_pet_tag_step_1'|trans }}</p>
                </div>
                <div class="pure-u-1 pure-u-sm-1-4 step-item">
                    <span class="step">2</span>
                    <img src="{{ asset('images/case-2-2.jpg') }}">
                    <p>{{ 'layout.using_pet_tag_step_2'|trans }}</p>
                </div>
                <div class="pure-u-1 pure-u-sm-1-4 step-item">
                    <span class="step">3</span>
                    <img src="{{ asset('images/case-2-3.jpg') }}">
                    <p>{{ 'layout.using_pet_tag_step_3'|trans }}</p>
                </div>
                <div class="pure-u-1 pure-u-sm-1-4 step-item">
                    <span class="step">4</span>
                    <img src="{{ asset('images/case-2-4.jpg') }}">
                    <p>{{ 'layout.using_pet_tag_step_4'|trans }}</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
