{% extends 'base_full.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">{{ 'title.privacy_statement'|trans }}</h2>

            <div class="pure-u-1">
                <p>This privacy policy covers how MYID.IN.TH treats your personal information (“Personal Information”)
                    that MYID.IN.TH collects and receives on MyID.in.th websites (“Websites”), including information
                    related to your past use of the Websites. Your Personal Information is information about you that
                    may or may not be personally identifiable like your user name, password, email address, or personal
                    profile data that is not otherwise publicly available. Your Personal Information also includes all
                    of the information that you input onto the MyID.in.th Website and which is also accessible via QR
                    code reader. This policy does not apply to the practices of companies that MYID.IN.TH does not own
                    or control or to people that MYID.IN.TH does not employ or manage. All Personal Information that is
                    entered into the Websites by you is private to you except to the extent that you opt – against our
                    recommendation – to share such Personal Information with other persons who may access the Websites.
                    Other than for the reasons explicitly described below, it is the policy of MYID.IN.TH not to
                    disclose Personal Information to any third party at any time.</p>
                <p>Conversely, given that a portion of the purpose of the Websites is to share what its customers have
                    experienced with others, our policy regarding Submissions is very different. While our objective is
                    to safeguard your identity, privacy and anonymity, our goal is also to publicly publish and promote
                    the Submissions that describe what you have experienced without identifying who you are so that
                    others can recognize experiences that have been shared by people who are similar in background to
                    themselves. Always use caution when giving out any personally identifiable information about
                    yourself, other family members or friends in the Websites. MYID.IN.TH does not control or endorse
                    the content, messages or information exchanged by means of the Websites and, therefore, MYID.IN.TH
                    specifically disclaims any liability with regard to the Websites and any actions resulting from your
                    participation in the Websites.</p>
                <p>MYID.IN.TH collects Personal Information when you register with, use or visit the Website, and when
                    you visit the pages of certain MYID.IN.TH partners. MYID.IN.TH may combine information about you
                    that we have with information we obtain from business partners or other companies. When you register
                    we ask for information such as your email address, password, and personal profile. Once you register
                    with MYID.IN.TH and sign in to a Website you may not be completely anonymous to us. MYID.IN.TH may
                    collect information about your transactions with us and with some of our business partners.
                    MYID.IN.TH may set and access cookies on your computer.</p>
                <p>MYID.IN.TH may automatically receive and record Personal Information on our server logs from your
                    browser, including your IP address, MYID.IN.TH cookie information, and the pages you request.</p>
                <p>MYID.IN.TH may use Personal Information for the following general purposes: to customize the content
                    you see, fulfill your requests for products and services, improve our services, contact you, conduct
                    research, and provide reporting for internal and external clients.</p>
                <p>MYID.IN.TH does not rent, sell, or share your Personal Information with third parties except to
                    provide products or services you’ve previously requested, or unless we have your express permission,
                    or under the following circumstances:</p>
                <p>We provide the information to trusted partners who work on behalf of or with MYID.IN.TH under
                    confidentiality agreements. These companies may use your Personal Information to help communicate
                    with you about news and information related to MyID.in.th. However, these companies do not have any
                    independent right to share this information.</p>
                <p>We respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights
                    or defend against legal claims; We believe it is necessary to share information in order to
                    investigate, prevent, or take action regarding illegal activities, suspected fraud, situations
                    involving potential threats to the physical safety of any person, violations of MyID.in.th's Terms
                    of Use, or as otherwise required by law.</p>
                <p>We transfer information about you if MYID.IN.TH is acquired by or merged with another company.</p>
                <p>If at any time you wish to opt out of having your Personal Information shared with third parties and
                    or receiving information from MYID.IN.TH (via e-mail or postal mail) about new products, services,
                    or promotions, you can do so. You may contact us by e-mailing us at info@myid.in.th. Please indicate
                    what publications or services you no longer wish to receive so that we may better address your
                    needs.</p>
                <p>Your Personal Information is one of our most valuable assets. It is kept physically secure in our
                    data centers and is accessible only to authorized personnel as needed to perform operations governed
                    by this policy. In addition, when MYID.IN.TH collects information from you, MYID.IN.TH uses Secure
                    Socket Layer (SSL) encryption, the industry standard for protecting privacy in web transactions.
                    Please keep in mind that despite these measures, MYID.IN.TH cannot guarantee or warrant 100%
                    security of its servers and databases. Moreover, MYID.IN.TH cannot guarantee that Personal
                    Information that you submit through the Websites will not be intercepted.</p>
                <p>MYID.IN.TH believes that it is especially important to protect children’s privacy online. MYID.IN.TH
                    does not knowingly collect or use any Personal Information from children under the age of 13 and
                    MYID.IN.TH does not knowingly provide any Personal Information, regardless of its source, to any
                    third party for any purpose whatsoever from visitors younger than 13 years old. No information
                    should be submitted to or posted at MYID.IN.TH by visitors younger than 13 years old.</p>
                <p>Any inquiries concerning this Privacy Policy should be directed to info@myid.in.th.</p>

            </div>
        </div>
    </div>
{% endblock %}