{% extends 'base_full.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">{{ 'title.sizing'|trans }}</h2>

            <div class="pure-u-1 video-container">
                <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/3KnDHC6lWcw" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}