{% extends 'base_full.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">{{ 'title.terms'|trans }}</h2>

            <div class="pure-u-1">
                <p><b>ATTENTION: PLEASE READ THESE TERMS OF USE (“TERMS”) CAREFULLY BEFORE USING THIS WEB SITE. USING
                        THIS WEB SITE INDICATES THAT YOU ACCEPT THESE TERMS. IF YOU DO NOT ACCEPT THESE TERMS, DO NOT
                        USE THIS WEB SITE.</b></p>
                <p>Use of Web Site. Unless otherwise specified, all MyID.in.th web sites (“Web Sites”) are for your
                    personal use. You may not modify, copy, distribute, transmit, display, reproduce, publish, license,
                    create derivative works from, transfer, or sell any information obtained from the Web Sites.
                    MYID.IN.TH authorizes you to view and download the materials at the Web Sites only for your
                    personal, non-commercial use, provided that you retain all copyright and other proprietary notices
                    contained in the original materials on any copies of the materials. You may not modify the materials
                    at the Web Sites in any way or reproduce or publicly display, perform, or distribute or otherwise
                    use them for any public or commercial purpose. For purposes of these Terms, any use of these
                    materials on any other web site or networked computer environment for any purpose is prohibited. The
                    materials at the Web Sites are copyrighted and any unauthorized use of any materials at the Web
                    Sites may violate copyright, trademark, and other laws. If you breach any of these Terms, your
                    authorization to use the Web Sites automatically terminates and you must immediately destroy any
                    downloaded or printed materials.</p>
                <p>User Submissions. Other than personally identifiable information, which is covered under MYID.IN.TH’s
                    Privacy Policy, any material, information, testimonial, or other communication ("Communications")
                    you transmit or post to any Web Site will be considered non-confidential and non-proprietary.
                    MYID.IN.TH will have no obligations with respect to the Communications. MYID.IN.TH and its designees
                    will be free to copy, disclose, distribute, incorporate and otherwise use the Communications and all
                    data, images, sounds, text, and other things embodied therein for any and all commercial or
                    non-commercial purposes. You are prohibited from posting or transmitting to or from the Web Sites
                    any unlawful, threatening, libelous, defamatory, obscene, pornographic, or other material that would
                    violate any law.</p>
                <p>Any Communications posted on the Web Sites express the views of the author of the Communication, not
                    necessarily the views of MYID.IN.TH. Message content has not been created by, verified by, or
                    adopted by MYID.IN.TH. MYID.IN.TH does not vouch for or warrant the accuracy, completeness or
                    usefulness of the message, and is not responsible for the contents of the message. No Communication
                    constitutes MYID.IN.TH authorized literature. Only authorized literature produced and issued by
                    MYID.IN.TH represents the company's position.</p>
                <p>Communications posted on the Web Sites have not been created by, verified by, or adopted by
                    MYID.IN.TH; only product labeling and promotional materials issued by MYID.IN.TH represent the
                    company's position on the benefits and permitted uses of the company's products. Information posted
                    to the Web Sites is not to be copied, quoted or otherwise reproduced and is not to be used in
                    promoting, nor should it be relied upon in using, MYID.IN.TH products.</p>
                <p>No Unlawful or Prohibited Use. As a condition of your use of the Web Sites, you warrant to MYID.IN.TH
                    that you will not use the Web Site for any purpose that is unlawful or prohibited by these terms,
                    conditions, and notices. You may not use the Web Sites in any manner which could damage, disable,
                    overburden, or impair the Web Sites or interfere with any other party's use and enjoyment of the Web
                    Sites. You may not obtain or attempt to obtain any materials or information through any means not
                    intentionally made available or provided for through the Web Sites.</p>
            </div>
        </div>
    </div>
{% endblock %}