{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form with ['Form/purecss_div_layout.html.twig', _self] %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), attr:{class: 'pure-form pure-form-stacked'}}) }}
<div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-5">&nbsp;</div>
    <div class="pure-u-1 pure-u-lg-3-5 panel panel-default">
        <div class="pure-u-1 panel-heading">
            <h2>{{ 'layout.register'|trans }}</h2>
        </div>
        <div class="pure-u-1 panel-body">
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
        </div>
        <div class="pure-u-1 panel-actions">
            <button type="submit" class="pure-button">{{ 'registration.submit'|trans }}</button>
            <p>OR</p>
            <p>
                <a href="{{ hwi_oauth_login_url('facebook') }}" class="loginBtn loginBtn--facebook">Continue with Facebook</a>
                <a href="{{ hwi_oauth_login_url('google') }}" class="loginBtn loginBtn--google">
                    Continue with Google
                </a>
            </p>
            <a href="{{ path('privacy') }}">{{ 'title.privacy_statement'|trans({},null) }}</a> | <a href="{{ path('terms') }}">{{ 'title.terms'|trans({}, null) }}</a>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-5">&nbsp;</div>
</div>
{{ form_end(form) }}

{% block javascripts %}
    <script>
        {% if app.session is defined and app.session.flashBag.has('notice') %}
        {% for msg in app.session.flashBag.get('notice') %}
        alertify.success("{{ msg|trans }}");
        {% endfor %}
        {% endif %}
        {% if app.session is defined and app.session.flashBag.has('error') %}
        {% for msg in app.session.flashBag.get('error') %}
        alertify.error("{{ msg|trans }}");
        {% endfor %}
        {% endif %}
    </script>
    <script type="text/javascript" async>
        (function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/c/3/c3644a8401a1fb0dbd0f6c39ca9dff8a/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
    </script>
{% endblock %}
