{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <script>
        alertify.error("{{ error.messageKey|trans(error.messageData, 'security') }}");
    </script>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="pure-form pure-form-stacked">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-5">&nbsp;</div>
        <div class="pure-u-1 pure-u-lg-3-5 panel panel-default">
            <div class="pure-u-1 panel-heading">
                <h2>{{ 'layout.login'|trans }}</h2>
            </div>
            <div class="pure-u-1 panel-body">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div>
                    <label for="username">{{ 'form.email'|trans }}</label>
                    <input type="email" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div>
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required" />
                </div>
            </div>
            <div class="pure-u-1 panel-actions">
                <button type="submit" id="_submit" name="_submit" class="pure-button">{{ 'security.login.submit'|trans }}</button><br>
                <a href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.request.submit'|trans }}</a>
                <p>OR</p>
                <p>
                <a href="{{ hwi_oauth_login_url('facebook') }}" class="loginBtn loginBtn--facebook">Continue with Facebook</a>
                <a href="{{ hwi_oauth_login_url('google') }}" class="loginBtn loginBtn--google">
                    Continue with Google
                </a>
                </p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-lg-1-5">&nbsp;</div>
    </div>
</form>

{% block javascripts %}
    <script>
        {% if app.session is defined and app.session.flashBag.has('notice') %}
        {% for msg in app.session.flashBag.get('notice') %}
        alertify.success("{{ msg|trans }}");
        {% endfor %}
        {% endif %}
        {% if app.session is defined and app.session.flashBag.has('error') %}
        {% for msg in app.session.flashBag.get('error') %}
        alertify.error("{{ msg|trans }}");
        {% endfor %}
        {% endif %}
    </script>
    <script type="text/javascript" async>
        (function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/c/3/c3644a8401a1fb0dbd0f6c39ca9dff8a/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
    </script>
{% endblock %}
