{% trans_default_domain 'FOSUserBundle' %}

{% if error is defined %}
    <script>
        alertify.error("{{ error.messageKey|trans(error.messageData, 'security') }}");
    </script>
{% endif %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="post" class="pure-form pure-form-stacked">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-5">&nbsp;</div>
        <div class="pure-u-1 pure-u-lg-3-5 panel panel-default">
            <div class="pure-u-1 panel-heading">
                <h2>{{ 'layout.login'|trans }}</h2>
            </div>
            <div class="pure-u-1 panel-body">
                <div>
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input type="email" id="username" name="username" value="" required="required" />
                </div>
            </div>
            <div class="pure-u-1 panel-actions">
                <button type="submit" id="submit" name="submit" class="pure-button">{{ 'resetting.request.submit'|trans }}</button><br>
            </div>
        </div>
        <div class="pure-u-1 pure-u-lg-1-5">&nbsp;</div>
    </div>
</form>

{% block javascripts %}
    <script>
        {% if app.session is defined and app.session.flashBag.has('notice') %}
        {% for msg in app.session.flashBag.get('notice') %}
        alertify.success("{{ msg|trans }}");
        {% endfor %}
        {% endif %}
        {% if app.session is defined and app.session.flashBag.has('error') %}
        {% for msg in app.session.flashBag.get('error') %}
        alertify.error("{{ msg|trans }}");
        {% endfor %}
        {% endif %}
    </script>
    <script type="text/javascript" async>
        (function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/c/3/c3644a8401a1fb0dbd0f6c39ca9dff8a/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
    </script>
{% endblock %}
