{% trans_default_domain 'FOSUserBundle' %}

{% if error is defined %}
    <script>
        alertify.error("{{ error.messageKey|trans(error.messageData, 'security') }}");
    </script>
{% endif %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'pure-form pure-form-stacked fos_user_resetting_reset' } }) }}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-5">&nbsp;</div>
        <div class="pure-u-1 pure-u-lg-3-5 panel panel-default">
            <div class="pure-u-1 panel-heading">
                <h2>{{ 'resetting.email.subject'|trans }}</h2>
            </div>
            <div class="pure-u-1 panel-body">
                {{ form_widget(form) }}
            </div>
            <div class="pure-u-1 panel-actions">
                <button type="submit" id="submit" name="submit" class="pure-button">{{ 'resetting.request.submit'|trans }}</button><br>
            </div>
        </div>
        <div class="pure-u-1 pure-u-lg-1-5">&nbsp;</div>
    </div>
{{ form_end(form) }}

{% block javascripts %}
    <script>
        {% if app.session is defined and app.session.flashBag.has('notice') %}
        {% for msg in app.session.flashBag.get('notice') %}
        alertify.success("{{ msg|trans }}");
        {% endfor %}
        {% endif %}
        {% if app.session is defined and app.session.flashBag.has('error') %}
        {% for msg in app.session.flashBag.get('error') %}
        alertify.error("{{ msg|trans }}");
        {% endfor %}
        {% endif %}
    </script>
    <script type="text/javascript" async>
        (function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/c/3/c3644a8401a1fb0dbd0f6c39ca9dff8a/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
    </script>
{% endblock %}
