<h3>What is MyID.in.th?</h3>
<p>MyID.in.th is online service for medical and contact information storage. You can create profiles for yourself, your family and your pets.<br>
    Our ID Wristbands and Pets ID Tags can be linked to an online profile for instant access to information in case of an emergency.<br>
    If you have a chronic medical condition, take medication, have a food or another allergy, wearing an ID Wristband is important for you. If you are a traveler, or you like active sports, you can save your medical conditions, contacts and insurance information in the wristband. Using the ID Wristband for kids or Pet ID Tag for your pets is important in case they are lost.
</p>

<h3>What kind of products do you have?</h3>
<p>We offer sillicon wristbands with stainless steel plate for adult and kids, also we can offer Pet ID Tags for animals, which can be attached a collar. We are expanding our product range.<br>
    Each wristband and Pet ID Tag has a unique QR code on the plate with a link to the medical profile.
</p>

<h3>What is a QR code?</h3>
<p>QR codes are a type of barcode. QR barcodes contain information that can be read by a scanner. QR barcodes are square and often contain a website address (URL). When the QR barcode is scanned by a smartphone app, the phone automatically brings up that website address.</p>

<h3>How can I get access the profile with the ID Wristband or Pet ID Tag?</h3>
<p>There are two ways to access the medical profile:
<ol>
    <li>1.	Using QR code. It can be read by any QR code scanner app for your smart phone. You should open the app, scan QR code and follow the link.</li>
    <li>Using a website, ID and PIN next to the QR code. In this case you should go to the website from your phone/tablet/computer and submit ID and PIN.</li>
</ol>
    You must have internet access for read medical profile.
</p>

<h3>How can I activate the ID Wristband or Pet ID tag and create the medical profile?</h3>
<p>
    You can follow next few steps to create an account and link your ID Wristband or Pet ID Tag:
<ol>
    <li>Go to <a href="https://myid.in.th">https://myid.in.th</a></li>
    <li>Click on the <b>Registration</b> link</li>
    <li>Enter your Email and Password, or use Facebook or Google for authorization</li>
    <li>You will be redirected to the <b>New Profile</b> page</li>
    <li>Fill out all the information you want to publish and click on the <b>Save</b> button</li>
    <li>On the next screen click on the <b>Link band</b> button</li>
    <li>Fill out the ID and PIN from your ID Wristband or Pet ID Tag and click on the <b>Submit</b> button</li>
    <li>After that you can scan the QR code from your ID Wristband or Pet ID Tag to access your profile</li>
</ol>
</p>

<h3>Can I link multiple products to one profile?</h3>
<p>
    Yes, after creating an account, you will be able to create multiple profiles and link multiple products to each profile.
</p>

<h3>What can I do if ID Wristband or Pet ID Tag gets lost?</h3>
<p>
    If the ID Wristband or Pet ID tag is lost, you can unlink it from your profile.
</p>

<h3>What kind of information can I add to the profile?</h3>
<p>
    You can add different information to your profile: emergency contacts, medical highlights, medications, physicians, addresses, insurance. You can edit the profile in any time without limits.
</p>

<h3>Is it secure to use your service?</h3>
<p>
    Your service is absolutely safe. All profiles are encrypted. We don't give or sell the profiles data to any third party companies. Our service uses a secure HTTPS protocol connection.
</p>

<h3>How much do you charge for using the medical profile?</h3>
<p>
    It is absolutely free to use the medical profile. It is free to add/edit your profile during the first year after registration. After one year your profile will be available in read-only mode. You can pay only 100 baht for the next year and continue using our service without any limitations.
</p>