<h3>Что такое MyID.in.th?</h3>
<p>MyID.in.th - это онлайн сервис для хранения медицинских профилей и контактной информации в облачной базе данных. Вы можете создать профиль себе, членам своей семьи и даже своим домашним животным<br>
    Наши ID браслеты и ID метки для животных могут быть привязаны к онлайн профилю для быстрого получения информации в экстренной ситуации.<br>
    Если у вас есть хронические заболевания, вы регулярно принимаете лекарства, у вас аллергия на еду или лекарства, тогда ношение ID барслета крайне важно для вас. Если вы турист или занимаетесь активными видами спорта, вы можете сохранить ваши медицинские данные, контакты, информацию о страховке.<br>
    Использование ID браслета для детей или ID меток для ваших домашних животных также важно в случае если потерялись. Нашедший их человек может узнать ваши контактные данные и связаться с вами.
</p>

<h3>Какие виды продукции у Вас есть и для кого они?</h3>
<p>Мы предлагаем силиконовые браслеты для взрослых и детей, а также специальные ID метки для животных, которые крепятся к ошейнику. Наша продукция безопасна для ежедневного пользования. Мы расширяем варианты предлагаемой продукции.<br>
    Каждый браслет или метка содержат уникальный QR код, который содержит в себе ссылку на ваш профиль.</p>

<h3>Что такое QR код?</h3>
<p>QR код это двумерный штрихкод, который хранит в зашифрованном виде уникальную ссылку на привязанный медицинский профиль. QR код может быть прочитан программой для смартфона для чтения QR кодов.</p>

<h3>Как получить доступ к профилю, используя браслет?</h3>
<p>Используя браслет или ID метку можно получить доступ к профилю двумя способоами:<br>
    1. Использовать QR-код. Он может быть прочитан с помощью специального приложения в вашем смартфоне. Для этого необходимо открыть приложение, отсканировать код и перейти по предложенной ссылке.<br>
    2. Рядом с QR кодом размещен адрес вэб сайта, на который необходимо зайти и ввести ID и PIN, которые также вы нанесены рядом с QR кодом на браслете или ID метке.<br>
    Для доступа к профилю необходимо наличие интернета на смартфоне.
</p>

<h3>Как активировать браслет или ID метку и создать первый профиль?</h3>
<p>
<ol>
    <li>Перейдите на сайт <a href="https://myid.in.th">https://myid.in.th</a></li>
    <li>Кликните на ссылку <b>Регистрация</b></li>
    <li>Введите ваш Email и Пароль, либо используйте Facebook или Google для авторизации</li>
    <li>Вы будете перенаправлены на страну создания нового профиля</li>
    <li>Заполните необходимую информацию и нажмите на кнопку Сохранить</li>
    <li>На следующем экране нажмите на кнопку Привязать браслет</li>
    <li>Введите ID и PIN с вашего ID браслета или ID метки и нажмите на кнопку Отправить</li>
    <li>После этого вы можете отсканировать QR код, чтобы получить доступ к вашему профилю</li>
</ol>
</p>

<h3>Можно ли привязать несколько браслетов к одному профилю?</h3>
<p>Да, если вы зарегистрировалиь и создали аккаунт в нашей системе, вам будет доступна возможность создавать несколько медицинских профилей и привязывать любое количество браслетов к каждому из них.</p>

<h3>Что делать, если я потеряю браслет?</h3>
<p>В случае утери браслета или ID метки, его можно будет отвязать от профиля в личном кабинете сервиса.</p>

<h3>Какую информацию я могу добавить в профиле?</h3>
<p>Вы можете добавить самую разнооборазную информацию в свой профиль, а также управлять тем, какая информация будет общедоступной, а какая скрытой. Вы можете ввести следующую информацию: аллергии, болезни, персональная информация, список и правила приема лекарств, контакты для экстренного звонка, врачи, адреса, информация о страховке; а также любая произвольная информация.<br>
Информацию в вашем профиле можно будет редактировать в любое время без каких либо ограничений.
</p>

<h3>Безопасно ли хранить эту информацию в сервисе?</h3>
<p>Наш сервис абсолютно безопасен, вся информация хранится в зашифрованном виде в базе данных, мы не передаем и не продаем третьим лицам любую личную информацию наших клиентов. Вы сами управляете тем, какая информация будет отображаться в вашем открытом профиле. Для доступа к сервису всегда используется зашифрованный HTTPS протокол при работе с сервисом.</p>

<h3>Сколько стоит хранение медицинского профиля?</h3>
<p>Использование личного кабинета абсолютно бесплатно. В течение года после регистрации браслета, вы можете абсолютно бесплатно редактировать ваши профили, после чего профиль будет доступен только для чтения. Цена активации редактирования на следующий год использования будет составлять всего 100 бат.</p>