<h3> MyID.in.th คืออะไร? </h3>
<p>MyID.in.th เป็นรายละเอียดทางการแพทย์แบบออนไลน์ซึ่งเก็บไว้ในฐานข้อมูล.<br>
รายละเอียดทางการแพทย์สามารถนำมาใช้ในสถานการณ์ฉุกเฉินสำหรับการรับข้อมูลทางการแพทย์ที่สำคัญที่สุดของคุณ ตัวอย่างเช่น คุณมีอาการแพ้ยาหรือคุณมีโรคเรื้อรังใด ๆ นอกจากนี้ยังสามารถค้นหาข้อมูลเพื่อติดต่อครอบครัวของคุณหรือบุุคคลใกล้ชิดได้<br>
โปรไฟล์นี้สามารถนำมาใช้สำหรับสัตว์.ในกรณีที่สัตว์เลี้ยงของคุณหายไป, ครั้งเเรกจะเห็นแท็ก IDบนที่คาดคอของสัตว์เลี้ยงและการเข้าถึงรายละเอียดสัตว์สำหรับดูหมายเลขโทรศัพท์ของคุณและติดต่อกับคุณ<br>
รายละเอียดดังกล่าวสามารถเข้าถึงได้โดยการสแกนรหัส QR บนผลิตภัณฑ์หรือเข้าทางเว็บไวต์.
</p>

<h3>ประเภทของผลิตภัณฑ์ที่คุณมี?</h3>
<p>เรามีสายรัดข้อมือซิลิโคนที่มีแผ่นสแตนเลสติดอยุ่ด้านบนสำหรับผู้ใหญ่และเด็ก,นอกจากนี้เราสามารถนำเสนอแท็ก ID สำหรับสัตว์, ซึ่งสามารถใช้กับติดกับลำคอของสัตว์.เรากำลังจะขยายเกี่ยวกับประเภทผลิตภัณฑ์เพื่อเพิ่มความหลากหลาย.<br>
    แต่ละสายรัดข้อมือและแท็ก ID มีรหัส QR ถูกสกรีนไว้บนโลหะ, มีการเชื่อมโยงไปยังโปรไฟล์ทางการแพทย์.
</p>

<h3> QR codeคืออะไร?</h3>
<p>รหัส QR เป็นประเภทของบาร์โค้ด.บาร์โค้ดQRเป็นข้อมูลที่สามารถอ่านได้โดยเครื่องสแกนเนอร์. บาร์โค้ด QRเป็นตารางและมักจะมีตามเว็บไซต(URL). เมื่อบาร์โค้ด QR ถูกสแกนโดยแอพพลิเคชั่นสมาร์ทโฟน,โทรศัพท์มือถือโดยอัตโนมัติเพื่อเชื่อมต่อกับเว็บไซต์

.</p>

<h3>ทำอย่างไรฉันจะได้รับการเข้าถึงโปรไฟล์,โดยการใช้สายรัดข้อมือหรือแท็ก ID?</h3>
<p>มีสองวิธีในการเข้าถึงรายละเอียดโปรไฟล์ทางการแพทย์:<br>
    1. ใช้รหัส QR. สามารถอ่านได้โดยแอปพลิเคชั่นQRโค้ดสแกนเนอร์ สำหรับใช้โทรศัพท์มือถือสมาร์ทโฟนของคุณ.คุณควรเปิด app, สแกน QR โค้ดและติดตามการเชื่อมโยง.<br>
    2. การใช้เว็บไซต์, ID และรหัส PIN ถัดจากรหัส QR. ในกรณีนี้คุณควรเปิดเว็บไซต์บนโทรศัพท์ของคุณ/แท็บเเล็ต/คอมพิวเตอร์และส่ง ID และรหัส PIN.<br>
    หมายเหตุ คุณต้องมีการเชื่อมต่ออินเทอร์เน็ตทุกครั่งสำหรับการอ่านรายละเอียดทางการแพทย์.
</p>

<h3>ฉันจะสามารถเปิดใช้งานสายรัดข้อมือหรือรหัสแท็กและสร้างโปรไฟล์การแพทย์ได้อย่างไร?</h3>
<p>ดูวิดีโอเกี่ยวกับเรื่องนี้: <a href="#">Ссылка</a></p>

<h3>ฉันสามารถเชื่อมโยงสินค้าหลายอย่างหลายโปรไฟล์ได้หรือไม่?</h3>
<p>
   ได้,เมื่อคุณสร้างบัญชีเรียบร้อยแล้ว,คุณจะสามารถสร้างรูปแบบที่หลากหลายและเชื่อมโยงหลายผลิตภัณฑ์แต่ละโปรไฟล์.
</p>

<h3>สิ่งที่ฉันจะทำอย่างไรหากสินค้าได้หายไป?</h3>
<p>
    ถ้าสายรัดข้อมือหรือรหัสแท็กหายไป, คุณสามารถยกเลิกการเชื่อมโยงจากโปรไฟล์ของคุณ.
</p>

<h3>ชนิดของข้อมูลที่ฉันสามารถเพิ่มรายละเอียด?</h3>
<p>
    คุณสามารถเพิ่มข้อมูลที่แตกต่างกันในโปรไฟล์ของคุณ: ติดต่อฉุกเฉิน, ไฮไลท์การแพทย์, ยา, แพทย์,ที่อยู่, ประกันชีวิต. นอกจากนี้คุณยังสามารถจัดการข้อมูลที่จะเป็นภาครัฐและภาคเอกชน.<br>
    คุณสามารถแก้ไขรายละเอียดในเวลาใดก็ได้โดยไม่มีข้อจำกัด.
</p>

<h3>บริการของคุณมันมีความปลอดภัยสำหรับการใช้หรือไม่?</h3>
<p>
    บริการของเรามีความปลอดภัยอย่างแน่นอน.รายละเอียดทั้งหมดจะถูกเข้ารหัส.เราจะไม่ให้และไม่ขายโปรไฟล์ข้อมูลไปยังบริษัทบุคคลที่สาม. บริการของเราใช้การเชื่อมต่อโปรโตคอล HTTPS ที่เชื่อถือได้.
</p>

<h3>ราคาของการใช้รายละเอียดทางการแพทย์คืออะไร?</h3>
<p>
    รายละเอียดการใช้ทางการแพทย์ฟรีหนึ่งปีแรกหลังจากการลงทะเบียนฟรีสำหรับเพิ่ม / แก้ไขรายละเอียดของคุณ หลังจากหนึ่งปีโปรไฟล์ของคุณจะอยู่ในโหมดอ่านอย่างเดียวคุณสามารถจ่ายเพียง 100 บาทสำหรับปีถัดไปและยังคงใช้บริการของเรามีไม่ข้อจำกัดใด ๆ